<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Page - SmartGarage</title>
    <link rel="icon" type="image/png" href="../../static/assets/img/icons8-car-service-24.png"
          th:href="@{/assets/img/icons8-car-service-24.png}">


    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- CSS Files -->

    <link href="../../static/css/profilePage.css" rel="stylesheet" th:href="@{/css/profilePage.css}"/>

    <link href="../../static/assets/vendor/aos/aos.css" rel="stylesheet"
          th:href="@{/assets/vendor/aos/aos.css}">

    <link href="../../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="../../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"
          th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link href="../../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}">
    <link href="../../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}">
    <link href="../../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet"
          th:href="@{/assets/vendor/remixicon/remixicon.css}">
    <link href="../../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700,200}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"
          th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css}">
    <!-- CSS Files -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body class="profile-page sidebar-collapse">

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="../index.html" th:href="@{/}">SG<span>.</span></a></h1>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto " href="../index.html" th:href="@{/}">Home</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


<div class="page-header header-filter" data-parallax="true"
     style="background-image:url('../../static/assets/img/carEngine.jpg')"
     th:style="'background-image: url(/assets/img/carEngine.jpg)'">
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="https://www.livelingua.com/img/profilesTeachers/103/Guillaume-Deneufbourg-Square_Profile_S.jpg"
                                 alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h3 class="title" th:text="${user.username}">User name</h3>
                        </div>

                        <p class="description">
                            Form the buttons below you can create or delete details, create or delete vehicle and
                            see all your previous visits or book a new one</p>

                        <br>

                        <a href="../customer/customerVisitPage.html" th:href="@{profile/visit}">
                            <button type="button" class="btn btn-outline-warning">Visits</button>
                        </a>

                        <a href="../customer/customerVehicles.html" th:href="@{profile/vehicle}">
                        <button type="button" class="btn btn-outline-warning">Vehicles</button>
                        </a>

                        <a href="../customer/customerUserDetails.html" th:href="@{profile/details}">
                        <button type="button" class="btn btn-outline-warning">Details</button>
                        </a>

                        <a href="../customer/customerUserDetails.html" th:href="@{profile/details}">
                            <button type="button" class="btn btn-outline-warning">Email Report</button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="profile-tabs">

                    <div class="table">


                        <div class="table-of-mine">
                            <div class="row-form">

                                <table class="table-delete">

                                    <h3>Username and email:</h3>

                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                    </tr>
                                    <div class="Form-title" th:each="user : ${users}">
                                        <tr>
                                            <td>
                                                <div class="bloc2" th:text="${user.username}">
                                                    Username
                                                </div>
                                            </td>
                                            <td>
                                                <div class="bloc2" th:text="${user.email}">
                                                    User Email
                                                </div>
                                            </td>
                                        </tr>
                                    </div>
                                </table>

                            </div>
                        </div>

                    </div>

                </div>
                <br>
                <div class="table">


                    <div class="table-of-mine">
                        <div class="row-form">

                            <table class="table-delete">

                                <h3>Details:</h3>

                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone</th>
                                </tr>
                                <div class="Form-title" th:each="userDetail : ${userDetails}">
                                    <tr>
                                        <td>
                                            <div class="bloc2" th:text="${userDetail.firstName}">
                                                First Name
                                            </div>
                                        </td>
                                        <td>
                                            <div class="bloc2" th:text="${userDetail.lastName}">
                                                User Email
                                            </div>
                                        </td>
                                        <td>
                                            <div class="bloc2" th:text="${userDetail.phone}">
                                                User Email
                                            </div>
                                        </td>
                                    </tr>
                                </div>
                            </table>

                        </div>
                    </div>

                </div>

            </div>
            <br>
            <br>
            <div class="table">

                <div class="header">

                    <div class="table-of-mine">
                        <div class="row-form">

                            <table class="table-delete">
                                <h3>Vehicles:</h3>

                                <tr>
                                    <th>Model</th>
                                    <th>Manufacturer</th>
                                </tr>
                                <div class="Form-title" th:each="vehicle : ${vehicles}">
                                    <tr>

                                        <td>
                                            <div class="bloc2"
                                                 th:text="${vehicle.getModel().getManufacturer().getManufactureName()}">
                                                Manufacturer
                                            </div>
                                        </td>
                                        <td>
                                            <div class="bloc2"
                                                 th:text="${vehicle.getModel().getModelName()}">
                                                Model
                                            </div>
                                        </td>
                                    </tr>
                                </div>
                            </table>

                        </div>
                    </div>
                    <br>
                </div>

                <div class="table">

                    <div class="header">

                        <div class="table-of-mine">
                            <div class="row-form">

                                <table class="table-delete">

                                    <h3>Visits:</h3>


                                    <tr>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Service name</th>
                                        <th>Model</th>
                                        <th>Manufacturer</th>
                                        <th>Price</th>
                                        <th>Currency</th>
                                    </tr>
                                    <div class="Form-title" th:each="visit : ${userVisits}">
                                        <tr>
                                            <div class="bloc2">
                                                <td>
                                                    <div class="bloc2" th:text="${visit.startDate}">
                                                        Start Date
                                                    </div>
                                                </td>
                                            </div>

                                            <div class="bloc2">
                                                <td>
                                                    <div class="bloc2" th:text="${visit.endDate}">
                                                        End Date
                                                    </div>
                                                </td>
                                            </div>
                                            <div class="bloc2">
                                                <td>
                                                    <div class="bloc2" th:text="${visit.serviceName}">
                                                        Service Name
                                                    </div>
                                                </td>
                                            </div>
                                            <div class="bloc2">
                                                <td>
                                                    <div class="bloc2" th:text="${visit.model}">
                                                        Model
                                                    </div>
                                                </td>
                                            </div>
                                            <div class="bloc2">
                                                <td>
                                                    <div class="bloc2" th:text="${visit.manufacturer}">
                                                        Model
                                                    </div>
                                                </td>
                                            </div>
                                            <div class="bloc2">
                                                <td>
                                                    <div class="bloc2" th:text="${visit.price}">
                                                        Price
                                                    </div>
                                                </td>
                                            </div>
                                            <div class="bloc2">
                                                <td>
                                                    <div class="bloc2" th:text="${visit.currency}">
                                                        Currency
                                                    </div>
                                                </td>
                                            </div>
                                        </tr>
                                    </div>
                                </table>
                                <br>
                                <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                                      th:object="${userCurrency}" method="post">
                                    <h4>Select currency</h4>
                                    <label>
                                        <select th:field="*{userCurrency}">
                                            <option th:each="currency : ${currencies}"
                                                    th:value="${currency}"
                                                    th:text="${currency}">
                                            </option>
                                        </select>
                                    </label>
                                    <input name="select" id="select" class="btn btn-block login-btn mb-4" type="submit"
                                           value="Select">
                                </form>

                            </div>
                        </div>

                    </div>
                </div>


                <br>
            </div>
        </div>
    </div>
</div>
</div>
<br>
</div>
</div>
<br>
<!-- ======= Footer ======= -->
<div th:insert="fragments/footer :: footer"></div>

<script src="../../static/assets/js/profilePage.js"
        th:src="@{/assets/js/profilePage.js}"></script>

</body>
</html>