.bootstrap-switch {
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  border-radius: 30px;
  border: 0;
  position: relative;
  text-align: left;
  overflow: hidden;
  margin-bottom: 5px;
  line-height: 8px;
  width: 61px !important;
  height: 26px;
  outline: none;
  z-index: 0;
  margin-right: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap-switch .bootstrap-switch-container {
  display: inline-flex;
  top: 0;
  height: 26px;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100px !important;
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  height: 100%;
  color: #fff;
  padding: 6px 12px;
  font-size: 11px;
  text-indent: -5px;
  line-height: 15px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.bootstrap-switch .bootstrap-switch-handle-on i,
.bootstrap-switch .bootstrap-switch-handle-off i,
.bootstrap-switch .bootstrap-switch-label i {
  font-size: 12px;
  line-height: 14px;
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  text-align: center;
  z-index: 1;
  float: left;
  width: 50% !important;
  background-color: #66615B;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #51cbce;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #51bcda;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #6bd098;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: #fbc658;
  color: #fff;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #f5593d;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #fff;
  background: #66615B;
}

.bootstrap-switch .bootstrap-switch-label {
  text-align: center;
  z-index: 100;
  color: #333333;
  background: #ffffff;
  width: 22px !important;
  height: 22px;
  margin: 2px -11px;
  border-radius: 12px;
  position: relative;
  float: left;
  padding: 0;
  background-color: #FFFFFF;
  box-shadow: 0 1px 1px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.25);
}

.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.bootstrap-switch .bootstrap-switch-handle-off {
  text-indent: 6px;
}

.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.bootstrap-switch input[type='radio'].form-control,
.bootstrap-switch input[type='checkbox'].form-control {
  height: auto;
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}

.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.33;
}

.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-readonly,
.bootstrap-switch.bootstrap-switch-indeterminate {
  cursor: default !important;
}

.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}

.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}

.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-container {
  margin-left: -2px !important;
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-container {
  margin-left: -37px !important;
}

.bootstrap-switch.bootstrap-switch-on:hover .bootstrap-switch-label {
  width: 26px !important;
  margin: 2px -15px;
}

.bootstrap-switch.bootstrap-switch-off:hover .bootstrap-switch-label {
  width: 26px !important;
  margin: 2px -15px -13px -11px;
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-handle-off {
  background-color: #66615B;
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-handle-on {
  background-color: #cfcfca;
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-danger {
  background-color: #f5593d;
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-warning {
  background-color: #fbc658;
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-success {
  background-color: #6bd098;
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-primary {
  background-color: #51cbce;
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-info {
  background-color: #51bcda;
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-default {
  background-color: #66615B;
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-danger,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-primary,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-info,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-warning,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-success {
  background-color: #cfcfca;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}

.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
  margin: 0;
  border-radius: 0;
  height: 2px;
  background: #c8c8c8;
}

.noUi-origin[style^="left: 0"] .noUi-handle {
  background-color: #fff;
  border: 2px solid #c8c8c8;
}

.noUi-origin[style^="left: 0"] .noUi-handle.noUi-active {
  border-width: 1px;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */

.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: 2px;
  margin: 15px 0;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}

/* Styling;
 */

.noUi-target {
  background: #c8c8c8;
  border-radius: 4px;
}

.noUi-connect {
  background: #3FB8AF;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

/* Handles and cursors;
 */

.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  left: -10px;
  top: -6px;
  cursor: pointer;
  border-radius: 100%;
  transition: all 0.2s ease-out;
  border: 1px solid;
  background: #FFFFFF;
}

.noUi-handle.noUi-active {
  transform: scale3d(1.5, 1.5, 1);
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

.slider {
  background: #c8c8c8;
}

.slider .noUi-connect {
  background-color: #51cbce;
  border-radius: 4px;
}

.slider .noUi-handle {
  border-color: #51cbce;
}

.slider.slider-info .noUi-connect {
  background-color: #51bcda;
}

.slider.slider-info .noUi-handle {
  border-color: #51bcda;
}

.slider.slider-success .noUi-connect {
  background-color: #6bd098;
}

.slider.slider-success .noUi-handle {
  border-color: #6bd098;
}

.slider.slider-warning .noUi-connect {
  background-color: #fbc658;
}

.slider.slider-warning .noUi-handle {
  border-color: #fbc658;
}

.slider.slider-danger .noUi-connect {
  background-color: #f5593d;
}

.slider.slider-danger .noUi-handle {
  border-color: #f5593d;
}

/*!
 * Datetimepicker for Bootstrap 3
 * ! version : 4.7.14
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */

.sr-only,
.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after,
.bootstrap-datetimepicker-widget .btn[data-action="today"]::after,
.bootstrap-datetimepicker-widget .picker-switch::after,
.bootstrap-datetimepicker-widget table th.prev::after,
.bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.bootstrap-datetimepicker-widget {
  list-style: none;
}

.bootstrap-datetimepicker-widget a .btn:hover {
  background-color: transparent;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 4px;
  width: 16em;
}

@media (min-width: 768px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media (min-width: 992px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media (min-width: 1200px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  border-bottom: 11px solid #F1EAE0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 12px;
  left: auto;
  top: -12px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom: 11px solid #FFFFFF;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 12px;
  left: auto;
  top: -11px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top {
  margin-top: auto;
  margin-bottom: -20px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top.open {
  margin-top: auto;
  margin-bottom: 5px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
  left: auto;
  right: 6px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
  left: auto;
  right: 7px;
}

.bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0;
}

.bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 0;
  border-width: 0;
  color: #66615B;
  background-color: transparent;
}

.bootstrap-datetimepicker-widget a[data-action="togglePicker"],
.bootstrap-datetimepicker-widget a[data-action="togglePicker"]:hover {
  color: #429cb6 !important;
}

.bootstrap-datetimepicker-widget a[data-action]:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.85);
}

.bootstrap-datetimepicker-widget a[data-action]:active {
  box-shadow: none;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: 300;
  font-size: 1.5em;
  margin: 3px;
  border-radius: 50%;
}

.bootstrap-datetimepicker-widget button[data-action] {
  width: 38px;
  height: 38px;
  padding: 0;
}

.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
  content: "Increment Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  content: "Increment Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
  content: "Decrement Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  content: "Decrement Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
  content: "Show Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
  content: "Show Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  content: "Toggle AM/PM";
}

.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
  content: "Clear the picker";
}

.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
  content: "Set the date to today";
}

.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget .picker-switch::after {
  content: "Toggle Date and Time Screens";
}

.bootstrap-datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}

.bootstrap-datetimepicker-widget .picker-switch td span {
  line-height: 2.5;
  height: 2.5em;
  width: 100%;
  border-radius: 4px;
  margin: 2px 0px !important;
}

.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}

.bootstrap-datetimepicker-widget table td>div,
.bootstrap-datetimepicker-widget table th>div {
  text-align: center;
}

.bootstrap-datetimepicker-widget table th {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 145px;
}

.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #cfcfca;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table th.prev span,
.bootstrap-datetimepicker-widget table th.next span {
  border-radius: 4px;
  height: 27px;
  width: 27px;
  line-height: 28px;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
}

.bootstrap-datetimepicker-widget table th.prev::after {
  content: "Previous Month";
}

.bootstrap-datetimepicker-widget table th.next::after {
  content: "Next Month";
}

.bootstrap-datetimepicker-widget table th.dow {
  text-align: center;
  border-bottom: 1px solid #E3E3E3;
  font-size: 12px;
  text-transform: uppercase;
  color: #9A9A9A;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 10px;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover span,
.bootstrap-datetimepicker-widget table thead tr:first-child th.picker-switch:hover {
  background: #E3E3E3;
}

.bootstrap-datetimepicker-widget table td>div {
  border-radius: 4px;
  height: 54px;
  line-height: 54px;
  width: 54px;
  text-align: center;
}

.bootstrap-datetimepicker-widget table td.cw>div {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #cfcfca;
}

.bootstrap-datetimepicker-widget table td.day>div {
  height: 30px;
  line-height: 31px;
  width: 30px;
  text-align: center;
  padding: 0px;
  border-radius: 50%;
  margin: 0 auto;
  z-index: -1;
  position: relative;
}

.table-condensed .day:hover div {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}

.bootstrap-datetimepicker-widget table td.minute>div,
.bootstrap-datetimepicker-widget table td.hour>div {
  border-radius: 50%;
}

.bootstrap-datetimepicker-widget table td.day:hover>div,
.bootstrap-datetimepicker-widget table td.hour:hover>div,
.bootstrap-datetimepicker-widget table td.minute:hover>div,
.bootstrap-datetimepicker-widget table td.second:hover>div {
  background: #E3E3E3;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget table td.old>div,
.bootstrap-datetimepicker-widget table td.new>div {
  color: #cfcfca;
}

.bootstrap-datetimepicker-widget table td.active>div,
.bootstrap-datetimepicker-widget table td.active:hover>div {
  background-color: #68B3C8;
  color: #FFFFFF;
}

.bootstrap-datetimepicker-widget table td.active.today:before>div {
  border-bottom-color: #FFFFFF;
}

.bootstrap-datetimepicker-widget table td.disabled>div,
.bootstrap-datetimepicker-widget table td.disabled:hover>div {
  background: none;
  color: #cfcfca;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 3px 3px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.bootstrap-datetimepicker-widget table td span:hover {
  background: #E3E3E3;
}

.bootstrap-datetimepicker-widget table td span.active {
  background-color: #68B3C8;
  color: #FFFFFF;
}

.bootstrap-datetimepicker-widget table td span.old {
  color: #cfcfca;
}

.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
  background: none;
  color: #cfcfca;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget .timepicker-picker span,
.bootstrap-datetimepicker-widget .timepicker-hours span,
.bootstrap-datetimepicker-widget .timepicker-minutes span {
  border-radius: 50% !important;
}

.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px;
}

.input-group.date .input-group-addon {
  cursor: pointer;
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
  padding: 1px;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget {
  opacity: 0;
  -webkit-transform: translate3d(0px, -10px, 0px);
  -moz-transform: translate3d(0, -10px, 0);
  -o-transform: translate3d(0, -10px, 0);
  -ms-transform: translate3d(0, -10px, 0);
  transform: translate3d(0px, -10px, 0px);
  -webkit-box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);
  box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);
}

.bootstrap-datetimepicker-widget.top {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  transform: translate3d(0px, 0px, 0px);
}

.bootstrap-datetimepicker-widget.open {
  opacity: 1;
  -webkit-transform: translate3d(0, 5px, 0);
  -moz-transform: translate3d(0, 5px, 0);
  -o-transform: translate3d(0, 5px, 0);
  -ms-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.bootstrap-datetimepicker-widget.open.top {
  -webkit-transform: translate3d(0, -10px, 0);
  -moz-transform: translate3d(0, -10px, 0);
  -o-transform: translate3d(0, -10px, 0);
  -ms-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

.bootstrap-datetimepicker-widget.open.top:before {
  border-top: 11px solid #DCD9D1;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 12px;
  bottom: -12px;
}

.bootstrap-datetimepicker-widget.open.top:after {
  border-top: 11px solid #FFFFFF;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 12px;
  bottom: -11px;
}

::-moz-placeholder {
  color: #9A9A9A;
}

:-ms-input-placeholder {
  color: #9A9A9A;
}

::-webkit-input-placeholder {
  color: #9A9A9A;
}

.form-control:focus+.input-group-text {
  border: 1px solid black;
}

.form-control {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  color: #66615b;
  font-size: 14px;
  transition: background-color 0.3s ease 0s;
  padding-right: 0 !important;
  padding: 7px 12px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.form-control:focus+.input-group-prepend .input-group-text,
.form-control:focus+.input-group-append .input-group-text {
  border: 1px solid #ccc;
  border-left: none;
}

.form-control.no-border {
  border: medium none !important;
}

.form-control.no-border:focus+.input-group-prepend .input-group-text,
.form-control.no-border:focus+.input-group-append .input-group-text {
  border: none;
}

.has-success .form-control,
.has-error .form-control,
.has-success .form-control:focus,
.has-error .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-success .form-control {
  border: 1px solid #ccc;
  color: #66615b;
}

.has-success .form-control.form-control-success {
  padding-right: 2.5em !important;
}

.has-success .form-control:focus {
  border: 1px solid #6bd098;
  color: #6bd098;
}

.has-danger .form-control {
  background-color: #FFC0A4;
  border: 1px solid #f5593d;
  color: #f5593d;
}

.has-danger .form-control.form-control-danger {
  padding-right: 2.5em !important;
}

.has-danger .form-control:focus {
  background-color: #FFFFFF;
  border: 1px solid #f5593d;
}

.form-control+.form-control-feedback {
  border-radius: 6px;
  font-size: 14px;
  color: #f5593d;
  font-size: .8rem;
  position: absolute;
  top: 100%;
  padding-left: 12px;
  vertical-align: middle;
}

.open .form-control {
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent;
}

.form-control.form-control-lg {
  height: 55px;
  padding: 11px 13px;
  font-size: 1.25rem;
  line-height: 1.5;
}

.form-control.form-control-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  height: 31px;
}

.has-error .form-control-feedback,
.has-error .control-label {
  color: #f5593d;
}

.has-success .form-control-feedback,
.has-success .control-label {
  color: #6bd098;
}

.input-group-prepend+.form-control {
  margin-left: -1px;
  border-left: none;
}

.form-control+.input-group-append .input-group-text {
  border-right: 1px solid #ddd;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
  border-right: none;
}

.input-group-text {
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #ddd;
  border-right: none;
}

.has-success .input-group-text,
.has-error .input-group-text {
  background-color: #FFFFFF;
}

.has-error .form-control:focus+.input-group-text {
  color: #f5593d;
}

.has-success .form-control:focus+.input-group-text {
  color: #6bd098;
}

.form-control:focus+.input-group-text,
.form-control:focus~.input-group-text {
  background-color: #FFFFFF;
}

.input-group.no-border .input-group-text {
  border: 0;
}

textarea.form-control {
  padding: 10px 18px;
  height: auto;
}

.form-group {
  position: relative;
}

.register-form .form-control {
  border: 1px solid transparent !important;
}

.register-form .input-group .form-control {
  margin-left: -1px;
}

.register-form .input-group-prepend,
.register-form .input-group-append {
  border: 1px solid transparent !important;
}

#inputs .input-group {
  margin-bottom: 1rem;
}

.card-form-horizontal .card-body .form-group {
  margin-bottom: 0;
}

.from-check,
.form-check-radio {
  margin-bottom: 12px;
  position: relative;
}

.form-check {
  padding-left: 0;
  margin-bottom: .5rem;
}

.form-check .form-check-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  line-height: 26px;
  margin-bottom: 0;
}

.form-check .form-check-sign::before,
.form-check .form-check-sign::after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  cursor: pointer;
  border-radius: 6px;
  top: 0;
  background-color: #AAA7A4;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.form-check .form-check-sign::after {
  font-family: 'FontAwesome';
  content: "\f00c";
  top: -1px;
  text-align: center;
  font-size: 15px;
  opacity: 0;
  color: #FFF;
  border: 0;
  background-color: inherit;
}

.form-check.disabled .form-check-label {
  color: #9A9A9A;
  opacity: .5;
  cursor: not-allowed;
}

.form-check input[type="checkbox"],
.form-check-radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.form-check input[type="checkbox"]:checked+.form-check-sign::after {
  opacity: 1;
}

.form-control input[type="checkbox"]:disabled+.form-check-sign::before,
.checkbox input[type="checkbox"]:disabled+.form-check-sign::after {
  cursor: not-allowed;
}

.form-check .form-check-label input[type="checkbox"]:disabled+.form-check-sign,
.form-check-radio input[type="radio"]:disabled+.form-check-sign {
  pointer-events: none !important;
}

.form-check-radio {
  margin-left: -3px;
}

.form-check-radio .form-check-label {
  padding-left: 2rem;
}

.form-check-radio.disabled .form-check-label {
  color: #9A9A9A;
  opacity: .5;
  cursor: not-allowed;
}

.form-check-radio .form-check-sign::before {
  font-family: 'FontAwesome';
  content: "\f10c";
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: absolute;
  opacity: .50;
  left: 5px;
  top: -5px;
}

.form-check-label input[type="checkbox"]:checked+.form-check-sign:before {
  background-color: #66615B;
}

.form-check-radio input[type="radio"]+.form-check-sign:after,
.form-check-radio input[type="radio"] {
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  content: " ";
  display: block;
}

.form-check-radio input[type="radio"]:checked+.form-check-sign::after {
  font-family: 'FontAwesome';
  content: "\f192";
  top: -5px;
  position: absolute;
  left: 5px;
  opacity: 1;
  font-size: 22px;
}

.form-check-radio input[type="radio"]:checked+.form-check-sign::after {
  opacity: 1;
}

.form-check-radio input[type="radio"]:disabled+.form-check-sign::before,
.form-check-radio input[type="radio"]:disabled+.form-check-sign::after {
  color: #9A9A9A;
}

.progress {
  background-color: #DDDDDD;
  border-radius: 3px;
  box-shadow: none;
  height: 8px;
}

.progress-thin {
  height: 4px;
}

.progress-bar {
  background-color: #51cbce;
}

.progress-bar-primary {
  background-color: #51cbce;
}

.progress-bar-info {
  background-color: #51bcda;
}

.progress-bar-success {
  background-color: #6bd098;
}

.progress-bar-warning {
  background-color: #fbc658;
}

.progress-bar-danger {
  background-color: #f5593d;
}

/*           badges & Progress-bar              */

.badge {
  padding: 0.4em 0.9em;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 0.75em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 3px;
  padding-top: 5px;
}

.badge:focus {
  outline: none;
}

.badge span[data-role="remove"]:focus {
  outline: none;
}

.badge-primary {
  background-color: #51cbce;
}

.badge-info {
  background-color: #51bcda;
}

.badge-success {
  background-color: #6bd098;
}

.badge-warning {
  background-color: #fbc658;
}

.badge-danger {
  background-color: #f5593d;
}

.badge-default {
  background-color: #66615B;
}

.pagination>li>a,
.pagination>li>span,
.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
  background-color: transparent;
  border: 2px solid #f5593d;
  border-radius: 20px;
  color: #f5593d;
  height: 36px;
  margin: 0 2px;
  min-width: 36px;
  padding: 8px 12px;
  font-weight: 600;
}

.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>a:active,
.pagination>li.active>a,
.pagination>li.active>span,
.pagination>li.active>a:hover,
.pagination>li.active>span:hover,
.pagination>li.active>a:focus,
.pagination>li.active>span:focus {
  background-color: #66615B;
  border-color: #66615B;
  color: #FFFFFF;
}

.nav-pills-primary>li>a,
.pagination-primary>li>a,
.pagination-primary>li>span,
.pagination-primary>li:first-child>a,
.pagination-primary>li:first-child>span,
.pagination-primary>li:last-child>a,
.pagination-primary>li:last-child>span {
  border: 2px solid #51cbce;
  color: #51cbce;
}

.nav-pills-primary>li.active>a,
.nav-pills-primary>li.active>a:hover,
.nav-pills-primary>li.active>a:focus,
.pagination-primary>li>a:hover,
.pagination-primary>li>a:focus,
.pagination-primary>li>a:active,
.pagination-primary>li.active>a,
.pagination-primary>li.active>span,
.pagination-primary>li.active>a:hover,
.pagination-primary>li.active>span:hover,
.pagination-primary>li.active>a:focus,
.pagination-primary>li.active>span:focus {
  background-color: #51cbce !important;
  border-color: #51cbce !important;
  color: #FFFFFF;
}

.nav-pills-info>li>a,
.pagination-info>li>a,
.pagination-info>li>span,
.pagination-info>li:first-child>a,
.pagination-info>li:first-child>span,
.pagination-info>li:last-child>a,
.pagination-info>li:last-child>span {
  border: 2px solid #51bcda;
  color: #51bcda;
}

.nav-pills-info>li.active>a,
.nav-pills-info>li.active>a:hover,
.nav-pills-info>li.active>a:focus,
.pagination-info>li>a:hover,
.pagination-info>li>a:focus,
.pagination-info>li>a:active,
.pagination-info>li.active>a,
.pagination-info>li.active>span,
.pagination-info>li.active>a:hover,
.pagination-info>li.active>span:hover,
.pagination-info>li.active>a:focus,
.pagination-info>li.active>span:focus {
  background-color: #51bcda !important;
  border-color: #51bcda !important;
  color: #FFFFFF;
}

.nav-pills-success>li>a,
.pagination-success>li>a,
.pagination-success>li>span,
.pagination-success>li:first-child>a,
.pagination-success>li:first-child>span,
.pagination-success>li:last-child>a,
.pagination-success>li:last-child>span {
  border: 2px solid #6bd098;
  color: #6bd098;
}

.nav-pills-success>li.active>a,
.nav-pills-success>li.active>a:hover,
.nav-pills-success>li.active>a:focus,
.pagination-success>li>a:hover,
.pagination-success>li>a:focus,
.pagination-success>li>a:active,
.pagination-success>li.active>a,
.pagination-success>li.active>span,
.pagination-success>li.active>a:hover,
.pagination-success>li.active>span:hover,
.pagination-success>li.active>a:focus,
.pagination-success>li.active>span:focus {
  background-color: #6bd098 !important;
  border-color: #6bd098 !important;
  color: #FFFFFF;
}

.nav-pills-warning>li>a,
.pagination-warning>li>a,
.pagination-warning>li>span,
.pagination-warning>li:first-child>a,
.pagination-warning>li:first-child>span,
.pagination-warning>li:last-child>a,
.pagination-warning>li:last-child>span {
  border: 2px solid #fbc658;
  color: #fbc658;
}

.nav-pills-warning>li.active>a,
.nav-pills-warning>li.active>a:hover,
.nav-pills-warning>li.active>a:focus,
.pagination-warning>li>a:hover,
.pagination-warning>li>a:focus,
.pagination-warning>li>a:active,
.pagination-warning>li.active>a,
.pagination-warning>li.active>span,
.pagination-warning>li.active>a:hover,
.pagination-warning>li.active>span:hover,
.pagination-warning>li.active>a:focus,
.pagination-warning>li.active>span:focus {
  background-color: #fbc658 !important;
  border-color: #fbc658 !important;
  color: #FFFFFF;
}

.nav-pills-danger>li>a,
.pagination-danger>li>a,
.pagination-danger>li>span,
.pagination-danger>li:first-child>a,
.pagination-danger>li:first-child>span,
.pagination-danger>li:last-child>a,
.pagination-danger>li:last-child>span {
  border: 2px solid #f5593d;
  color: #f5593d;
}

.nav-pills-danger>li.active>a,
.nav-pills-danger>li.active>a:hover,
.nav-pills-danger>li.active>a:focus,
.pagination-danger>li>a:hover,
.pagination-danger>li>a:focus,
.pagination-danger>li>a:active,
.pagination-danger>li.active>a,
.pagination-danger>li.active>span,
.pagination-danger>li.active>a:hover,
.pagination-danger>li.active>span:hover,
.pagination-danger>li.active>a:focus,
.pagination-danger>li.active>span:focus {
  background-color: #f5593d !important;
  border-color: #f5593d !important;
  color: #FFFFFF;
}

.nav-text,
.nav-icons {
  margin: 0 0 10px 0;
}

.nav-text>li>a,
.nav-icons>li>a {
  display: block;
  padding: 0px 18px;
  color: #9A9A9A;
  text-align: center;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.nav-text>li>a:hover,
.nav-text>li>a:focus,
.nav-icons>li>a:hover,
.nav-icons>li>a:focus {
  background-color: transparent;
  opacity: 1;
  filter: alpha(opacity=100);
}

.nav-text>li:first-child a,
.nav-icons>li:first-child a {
  padding-left: 0;
}

.nav-text>li.active a,
.nav-icons>li.active a {
  color: #51bcda;
}

.nav-icons>li {
  display: inline-block;
}

.nav-icons>li>a {
  padding: 0 10px;
  margin-bottom: 10px;
}

.nav-icons>li>a i {
  font-size: 1.6em;
  margin-bottom: 10px;
  width: 1.6em;
}

.nav-icons.nav-stacked>li {
  display: block;
}

.nav-icons.nav-stacked>li>a {
  margin-bottom: 20px;
}

.nav-blue>li.active a {
  color: #51cbce;
}

.nav-azure>li.active a {
  color: #51bcda;
}

.nav-green>li.active a {
  color: #6bd098;
}

.nav-orange>li.active a {
  color: #fbc658;
}

.nav-red>li.active a {
  color: #f5593d;
}

.nav-text {
  margin: 0 0 10px 0;
}

.nav-text>li>a {
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 3px 0;
  text-align: left;
  font-weight: 500;
}

.nav-text>li:first-child>a {
  padding-top: 0;
}

.nav-text h4 {
  margin-top: 0;
}

.nav-text:not(.nav-stacked)>li {
  display: inline-block;
}

.nav-text:not(.nav-stacked)>li>a {
  margin-right: 15px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.nav-pills-default .nav-item.show .nav-link,
.nav-pills-default .nav-link.active {
  background-color: #66615B !important;
}

.nav-pills-primary .nav-item.show .nav-link,
.nav-pills-primary .nav-link.active {
  background-color: #51cbce !important;
}

.nav-pills-info .nav-item.show .nav-link,
.nav-pills-info .nav-link.active {
  background-color: #51bcda !important;
}

.nav-pills-warning .nav-item.show .nav-link,
.nav-pills-warning .nav-link.active {
  background-color: #fbc658 !important;
}

.nav-pills-success .nav-item.show .nav-link,
.nav-pills-success .nav-link.active {
  background-color: #6bd098 !important;
}

.nav-pills-danger .nav-item.show .nav-link,
.nav-pills-danger .nav-link.active {
  background-color: #f5593d !important;
}

.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>a:active,
.pagination>li.active>a,
.pagination>li.active>span,
.pagination>li.active>a:hover,
.pagination>li.active>span:hover,
.pagination>li.active>a:focus,
.pagination>li.active>span:focus {
  background-color: #f5593d;
  border-color: #f5593d;
  color: #FFFFFF;
}

.page-item.active .page-link {
  background-color: #f5593d;
  color: white;
  border-color: #f5593d;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.pagination .page-link {
  box-shadow: none;
}

/*           Font Smoothing      */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
a,
.td-name,
td,
button,
input,
select,
textarea {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 300;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin: 30px 0 0;
}

h1,
.h1 {
  font-size: 3.6em;
}

h2,
.h2 {
  font-size: 2.8em;
}

h3,
.h3 {
  font-size: 1.825em;
  line-height: 1.4;
  margin: 20px 0 0px;
}

h4,
.h4 {
  font-size: 1.6em;
  line-height: 1.2em;
}

h5,
.h5 {
  font-size: 1.35em;
  line-height: 1.4em;
}

h6,
.h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
}

p {
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 5px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #9A9A9A;
  line-height: 1.5em;
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 60%;
}

.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

.title,
.title a,
.card-title,
.card-title a,
.info-title,
.info-title a,
.footer-brand,
.footer-brand a,
.footer-big h5,
.footer-big h5 a,
.footer-big h4,
.footer-big h4 a,
.media .media-heading,
.media .media-heading a {
  color: #333333;
  text-decoration: none;
}

.title-uppercase {
  text-transform: uppercase;
}

.description {
  color: #9A9A9A;
}

blockquote small {
  font-style: normal;
}

.text-muted {
  color: #DDDDDD;
}

.text-primary,
.text-primary:hover {
  color: #51cbce !important;
}

.text-info,
.text-info:hover {
  color: #51bcda !important;
}

.text-success,
.text-success:hover {
  color: #6bd098 !important;
}

.text-warning,
.text-warning:hover {
  color: #fbc658 !important;
}

.text-danger,
.text-danger:hover {
  color: #f5593d !important;
}

.glyphicon {
  line-height: 1;
}

.heart {
  color: #EB5E28;
  animation: heathing 1s ease infinite;
}

@keyframes heathing {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

.footer .credits,
.footer-nav {
  line-height: 85px;
}

.footer .btn {
  margin-bottom: 0;
}

.blockquote {
  border-left: 0 none;
  border-bottom: 1px solid #CCC5B9;
  border-top: 1px solid #CCC5B9;
  font-weight: 300;
  margin: 15px 0 10px;
  text-align: center;
}

.title {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
}

.title.text-center {
  margin-bottom: 50px;
}

/*     General overwrite     */

body {
  color: #66615b;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
}

a {
  color: #51bcda;
}

a:hover,
a:focus {
  color: #2ba9cd;
  text-decoration: none;
}

hr {
  border-color: #F1EAE0;
}

.icon {
  fill: #66615b;
}

.fa-base {
  font-size: 1.25em !important;
}

a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
  outline: 0;
}


/*           Animations              */

.form-control,
.input-group-addon,
.tagsinput,
.navbar .alert,
.carousel-control.right,
.carousel-control.left {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.tagsinput .tag,
.tagsinput-remove-link,
.filter,
.btn-hover,
[data-toggle="collapse"] i,
.animation-transition-fast,
.dropdown-menu .dropdown-item {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}

.btn-morphing .fa,
.btn-morphing .circle,
.gsdk-collapse {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.fa {
  width: 18px;
  text-align: center;
}

.margin-top {
  margin-top: 50px;
}

.iframe-container iframe {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/*       CT colors          */

.ct-blue {
  color: #51cbce;
}

.ct-azure {
  color: #51bcda;
}

.ct-green {
  color: #6bd098;
}

.ct-orange {
  color: #fbc658;
}

.ct-red {
  color: #f5593d;
}

.pagination .page-item .page-link .fa {
  width: auto;
  font-weight: 600;
}

.bg-primary {
  background-color: #6dd3d6 !important;
}

.bg-info {
  background-color: #6ec7e0 !important;
}

.bg-success {
  background-color: #86d9ab !important;
}

.bg-warning {
  background-color: #fcd27b !important;
}

.bg-danger {
  background-color: #f7765f !important;
}

.wrapper {
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  left: 0;
  background-color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.heart {
  color: #EB5E28;
  animation: heathing 1s ease infinite;
}

@keyframes heathing {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

.bd-docs .page-header {
  min-height: 50vh;
}


.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  z-index: 3;
}

.offline-doc .footer nav>ul a:not(.btn),
.offline-doc .footer .copyright {
  color: #FFFFFF !important;
}

.offline-doc .page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.main .section:first-of-type {
  position: relative;
  z-index: 2;
}

/*           Labels & Progress-bar              */

.label {
  padding: 0.2em 0.6em;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 0.75em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 3px;
  line-height: 17px;
}

.label-primary {
  background-color: #51cbce;
}

.label-info {
  background-color: #51bcda;
}

.label-success {
  background-color: #6bd098;
}

.label-warning {
  background-color: #fbc658;
}

.label-danger {
  background-color: #f5593d;
}

.label-default {
  background-color: #66615B;
}

/*--------------------------------

nucleo-icons Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

-------------------------------- */

@font-face {
  font-family: 'nucleo-icons';
  src: url("../fonts/nucleo-icons.eot");
  src: url("../fonts/nucleo-icons.eot") format("embedded-opentype"), url("../fonts/nucleo-icons.woff2") format("woff2"), url("../fonts/nucleo-icons.woff") format("woff"), url("../fonts/nucleo-icons.ttf") format("truetype"), url("../fonts/nucleo-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------------------------
	base class definition
-------------------------*/

.nc-icon {
  display: inline-block;
  font: normal normal normal 14px/1 'nucleo-icons';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------
  change icon size
-------------------------*/

.nc-icon.lg {
  font-size: 1.33333333em;
  vertical-align: -16%;
}

.nc-icon.x2 {
  font-size: 2em;
}

.nc-icon.x3 {
  font-size: 3em;
}

/*----------------------------------
  add a square/circle background
-----------------------------------*/

.nc-icon.square,
.nc-icon.circle {
  padding: 0.33333333em;
  vertical-align: -16%;
  background-color: #eee;
}

.nc-icon.circle {
  border-radius: 50%;
}

/*------------------------
  list icons
-------------------------*/

.nc-icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.nc-icon-ul>li {
  position: relative;
}

.nc-icon-ul>li>.nc-icon {
  position: absolute;
  left: -1.57142857em;
  top: 0.14285714em;
  text-align: center;
}

.nc-icon-ul>li>.nc-icon.lg {
  top: 0;
  left: -1.35714286em;
}

.nc-icon-ul>li>.nc-icon.circle,
.nc-icon-ul>li>.nc-icon.square {
  top: -0.19047619em;
  left: -1.9047619em;
}

/*------------------------
  spinning icons
-------------------------*/

.nc-icon.spin {
  -webkit-animation: nc-icon-spin 2s infinite linear;
  -moz-animation: nc-icon-spin 2s infinite linear;
  animation: nc-icon-spin 2s infinite linear;
}

@-webkit-keyframes nc-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes nc-icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes nc-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*------------------------
  rotated/flipped icons
-------------------------*/

.nc-icon.rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nc-icon.rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nc-icon.rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.nc-icon.flip-y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.nc-icon.flip-x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/*------------------------
	font icons
-------------------------*/

.nc-air-baloon::before {
  content: "\ea01";
}

.nc-album-2::before {
  content: "\ea02";
}

.nc-alert-circle-i::before {
  content: "\ea04";
}

.nc-align-center::before {
  content: "\ea03";
}

.nc-align-left-2::before {
  content: "\ea05";
}

.nc-ambulance::before {
  content: "\ea06";
}

.nc-app::before {
  content: "\ea07";
}

.nc-atom::before {
  content: "\ea08";
}

.nc-badge::before {
  content: "\ea09";
}

.nc-bag-16::before {
  content: "\ea0a";
}

.nc-bank::before {
  content: "\ea0b";
}

.nc-basket::before {
  content: "\ea0c";
}

.nc-bell-55::before {
  content: "\ea0d";
}

.nc-bold::before {
  content: "\ea0e";
}

.nc-book-bookmark::before {
  content: "\ea0f";
}

.nc-bookmark-2::before {
  content: "\ea10";
}

.nc-box-2::before {
  content: "\ea11";
}

.nc-box::before {
  content: "\ea12";
}

.nc-briefcase-24::before {
  content: "\ea13";
}

.nc-bulb-63::before {
  content: "\ea14";
}

.nc-bullet-list-67::before {
  content: "\ea15";
}

.nc-bus-front-12::before {
  content: "\ea16";
}

.nc-button-pause::before {
  content: "\ea17";
}

.nc-button-play::before {
  content: "\ea18";
}

.nc-button-power::before {
  content: "\ea19";
}

.nc-calendar-60::before {
  content: "\ea1a";
}

.nc-camera-compact::before {
  content: "\ea1b";
}

.nc-caps-small::before {
  content: "\ea1c";
}

.nc-cart-simple::before {
  content: "\ea1d";
}

.nc-chart-bar-32::before {
  content: "\ea1e";
}

.nc-chart-pie-36::before {
  content: "\ea1f";
}

.nc-chat-33::before {
  content: "\ea20";
}

.nc-check-2::before {
  content: "\ea21";
}

.nc-circle-10::before {
  content: "\ea22";
}

.nc-cloud-download-93::before {
  content: "\ea23";
}

.nc-cloud-upload-94::before {
  content: "\ea24";
}

.nc-compass-05::before {
  content: "\ea25";
}

.nc-controller-modern::before {
  content: "\ea26";
}

.nc-credit-card::before {
  content: "\ea27";
}

.nc-delivery-fast::before {
  content: "\ea28";
}

.nc-diamond::before {
  content: "\ea29";
}

.nc-email-85::before {
  content: "\ea2a";
}

.nc-favourite-28::before {
  content: "\ea2b";
}

.nc-glasses-2::before {
  content: "\ea2c";
}

.nc-globe-2::before {
  content: "\ea2d";
}

.nc-globe::before {
  content: "\ea2e";
}

.nc-hat-3::before {
  content: "\ea2f";
}

.nc-headphones::before {
  content: "\ea30";
}

.nc-html5::before {
  content: "\ea31";
}

.nc-image::before {
  content: "\ea32";
}

.nc-istanbul::before {
  content: "\ea33";
}

.nc-key-25::before {
  content: "\ea34";
}

.nc-laptop::before {
  content: "\ea35";
}

.nc-layout-11::before {
  content: "\ea36";
}

.nc-lock-circle-open::before {
  content: "\ea37";
}

.nc-map-big::before {
  content: "\ea38";
}

.nc-minimal-down::before {
  content: "\ea39";
}

.nc-minimal-left::before {
  content: "\ea3a";
}

.nc-minimal-right::before {
  content: "\ea3b";
}

.nc-minimal-up::before {
  content: "\ea3c";
}

.nc-mobile::before {
  content: "\ea3d";
}

.nc-money-coins::before {
  content: "\ea3e";
}

.nc-note-03::before {
  content: "\ea3f";
}

.nc-palette::before {
  content: "\ea40";
}

.nc-paper::before {
  content: "\ea41";
}

.nc-pin-3::before {
  content: "\ea42";
}

.nc-planet::before {
  content: "\ea43";
}

.nc-refresh-69::before {
  content: "\ea44";
}

.nc-ruler-pencil::before {
  content: "\ea45";
}

.nc-satisfied::before {
  content: "\ea46";
}

.nc-scissors::before {
  content: "\ea47";
}

.nc-send::before {
  content: "\ea48";
}

.nc-settings-gear-65::before {
  content: "\ea49";
}

.nc-settings::before {
  content: "\ea4a";
}

.nc-share-66::before {
  content: "\ea4b";
}

.nc-shop::before {
  content: "\ea4c";
}

.nc-simple-add::before {
  content: "\ea4d";
}

.nc-simple-delete::before {
  content: "\ea4e";
}

.nc-simple-remove::before {
  content: "\ea4f";
}

.nc-single-02::before {
  content: "\ea50";
}

.nc-single-copy-04::before {
  content: "\ea51";
}

.nc-sound-wave::before {
  content: "\ea52";
}

.nc-spaceship::before {
  content: "\ea53";
}

.nc-sun-fog-29::before {
  content: "\ea54";
}

.nc-support-17::before {
  content: "\ea55";
}

.nc-tablet-2::before {
  content: "\ea56";
}

.nc-tag-content::before {
  content: "\ea57";
}

.nc-tap-01::before {
  content: "\ea58";
}

.nc-tie-bow::before {
  content: "\ea59";
}

.nc-tile-56::before {
  content: "\ea5a";
}

.nc-time-alarm::before {
  content: "\ea5b";
}

.nc-touch-id::before {
  content: "\ea5c";
}

.nc-trophy::before {
  content: "\ea5d";
}

.nc-tv-2::before {
  content: "\ea5e";
}

.nc-umbrella-13::before {
  content: "\ea5f";
}

.nc-user-run::before {
  content: "\ea60";
}

.nc-vector::before {
  content: "\ea61";
}

.nc-watch-time::before {
  content: "\ea62";
}

.nc-world-2::before {
  content: "\ea63";
}

.nc-zoom-split::before {
  content: "\ea64";
}

.alert {
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 14px;
}

.alert .close {
  font-size: 20px;
  color: #FFFFFF;
}

.container .alert {
  border-radius: 4px;
}

.alert .alert-icon {
  display: block;
  font-size: 30px;
  left: 15px;
  position: absolute;
  top: 50%;
  margin-top: -22px;
}

.alert .alert-wrapper.message {
  padding-right: 60px;
}

.alert .alert-wrapper i {
  position: relative;
  font-size: 20px;
  top: 5px;
  margin-top: -5px;
  font-weight: 600;
}

.alert-info {
  background-color: #6ec7e0;
}

.alert-success {
  background-color: #86d9ab;
}

.alert-warning {
  background-color: #fcd27b;
}

.alert-danger {
  background-color: #f7765f;
}

.img-rounded {
  border-radius: 12px;
  transition: opacity 0.5s ease 0s;
  max-width: 100%;
}

.img-details {
  min-height: 50px;
  padding: 0 4px 0.5em;
}

.img-details img {
  width: 50px;
}

.img-details .author {
  margin-left: 10px;
  margin-top: -21px;
  width: 40px;
}

.img-circle {
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 50% !important;
  max-width: 100%;
}

.img-thumbnail {
  border: 0 none;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(164, 158, 147, 0.6);
  margin-bottom: 10px;
}

.img-no-padding {
  padding: 0px;
}

.example-page .img-rounded {
  margin: 50px 0 20px;
}

.img-shadow {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.images-title {
  margin-bottom: 20px;
  height: 50px;
}

.nav-link .profile-photo-small {
  width: 40px;
  height: 30px;
  margin: -10px 0 0 -15px;
}

.profile-picture {
  margin: 0 auto;
}

.profile-picture .fileinput-new img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-picture .fileinput-exists img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.tooltip {
  font-size: 12px;
  font-weight: 400;
}

.tooltip-inner {
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(115, 71, 38, 0.23);
  color: #66615B;
  max-width: 200px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.tooltip-inner:after {
  content: "";
  display: inline-block;
  position: absolute;
}

.tooltip-inner:before {
  content: "";
  display: inline-block;
  position: absolute;
}

.tooltip.fade.bs-tooltip-left,
.tooltip.fade.bs-tooltip-left.show {
  left: -5px !important;
}

.tooltip.fade.bs-tooltip-left .arrow,
.tooltip.fade.bs-tooltip-left.show .arrow {
  border-left: 11px solid rgba(0, 0, 0, 0.2);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  right: -6px;
  left: auto;
  margin-left: 0;
  top: -8px;
}

.tooltip.fade.bs-tooltip-left .arrow::before,
.tooltip.fade.bs-tooltip-left.show .arrow::before {
  border-left: 11px solid #FFFFFF;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  right: 1px;
  left: auto;
  margin-left: 0;
  top: -8px;
}

.tooltip.fade.bs-tooltip-right,
.tooltip.fade.bs-tooltip-right.show {
  left: 6px !important;
}

.tooltip.fade.bs-tooltip-right .arrow,
.tooltip.fade.bs-tooltip-right.show .arrow {
  border-right: 11px solid rgba(0, 0, 0, 0.2);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  left: -6px;
  right: auto;
  margin-right: 0;
  top: -8px;
}

.tooltip.fade.bs-tooltip-right .arrow::before,
.tooltip.fade.bs-tooltip-right.show .arrow::before {
  border-right: 11px solid #FFFFFF;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  left: 1px;
  right: auto;
  margin-right: 0;
  top: -8px;
}

.tooltip.fade.bs-tooltip-top,
.tooltip.fade.bs-tooltip-top.show {
  top: -6px !important;
}

.tooltip.fade.bs-tooltip-top .arrow,
.tooltip.fade.bs-tooltip-top.show .arrow {
  border-top: 11px solid rgba(0, 0, 0, 0.2);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  right: auto;
  margin-right: 0;
  top: 43px;
}

.tooltip.fade.bs-tooltip-top .arrow::before,
.tooltip.fade.bs-tooltip-top.show .arrow::before {
  border-top: 11px solid #FFFFFF;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  left: -8px;
  right: auto;
  top: -12px;
}

.tooltip.fade.bs-tooltip-bottom,
.tooltip.fade.bs-tooltip-bottom.show {
  top: 6px !important;
}

.tooltip.fade.bs-tooltip-bottom .arrow,
.tooltip.fade.bs-tooltip-bottom.show .arrow {
  border-bottom: 11px solid rgba(0, 0, 0, 0.2);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  right: auto;
  margin-right: 0;
  top: -6px;
}

.tooltip.fade.bs-tooltip-bottom .arrow::before,
.tooltip.fade.bs-tooltip-bottom.show .arrow::before {
  border-bottom: 11px solid #FFFFFF;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  left: -8px;
  right: auto;
  top: 1px;
}

.tooltip.show {
  opacity: 1 !important;
}

.popover {
  border: 0;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #66615b;
  font-weight: 400;
  padding: 0;
  z-index: 1031;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
}

.popover-header {
  background-color: #FFFCF5;
  border-bottom: 0 none;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  padding: 15px 15px 0px 15px;
  margin: 0;
  color: #66615b;
  text-align: center;
  border-radius: 4px 4px 0 0;
  margin-bottom: -10px;
}

.popover-header {
  background-color: #FFFFFF !important;
  text-align: center;
}

.popover-body {
  padding: 15px;
  text-align: center;
}

.popover .arrow {
  border: 0;
}

.popover.top .arrow {
  margin-left: 0;
}

.popover.bottom .arrow:after {
  border-bottom-color: #f7765f;
}

.popover-filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.popover-filter.in {
  visibility: visible;
  opacity: 0.2;
  filter: alpha(opacity=20);
  transition-delay: 0s;
}

.popover.left>.arrow::after {
  border-left-color: #f7765f;
  bottom: -20px;
}

.popover.top>.arrow::after {
  border-top-color: #f7765f;
}

.popover.right>.arrow::after {
  border-right-color: #f7765f;
}

.popover.left::before {
  border-left-color: #f7765f;
  bottom: -20px;
}

.popover-filter.in {
  visibility: visible;
  opacity: 0.2;
  filter: alpha(opacity=20);
  transition-delay: 0s;
}

.popover-primary {
  background-color: #6dd3d6;
  color: #FFFFFF;
}

.popover-primary .popover-title {
  background-color: #6dd3d6;
  color: rgba(0, 0, 0, 0.56);
}

.popover-primary.bottom .arrow:after {
  border-bottom-color: #6dd3d6;
}

.popover-primary.left>.arrow::after {
  border-left-color: #6dd3d6;
}

.popover-primary.top>.arrow::after {
  border-top-color: #6dd3d6;
}

.popover-primary.right>.arrow::after {
  border-right-color: #6dd3d6;
}

.popover-info {
  background-color: #6ec7e0;
  color: #FFFFFF;
}

.popover-info .popover-title {
  background-color: #6ec7e0;
  color: rgba(0, 0, 0, 0.56);
}

.popover-info.bottom .arrow:after {
  border-bottom-color: #6ec7e0;
}

.popover-info.left>.arrow::after {
  border-left-color: #6ec7e0;
}

.popover-info.top>.arrow::after {
  border-top-color: #6ec7e0;
}

.popover-info.right>.arrow::after {
  border-right-color: #6ec7e0;
}

.popover-success {
  background-color: #86d9ab;
  color: #FFFFFF;
}

.popover-success .popover-title {
  background-color: #86d9ab;
  color: rgba(0, 0, 0, 0.56);
}

.popover-success.bottom .arrow:after {
  border-bottom-color: #86d9ab;
}

.popover-success.left>.arrow::after {
  border-left-color: #86d9ab;
}

.popover-success.top>.arrow::after {
  border-top-color: #86d9ab;
}

.popover-success.right>.arrow::after {
  border-right-color: #86d9ab;
}

.popover-warning {
  background-color: #fcd27b;
  color: #FFFFFF;
}

.popover-warning .popover-title {
  background-color: #fcd27b;
  color: rgba(0, 0, 0, 0.56);
}

.popover-warning.bottom .arrow:after {
  border-bottom-color: #fcd27b;
}

.popover-warning.left>.arrow::after {
  border-left-color: #fcd27b;
}

.popover-warning.top>.arrow::after {
  border-top-color: #fcd27b;
}

.popover-warning.right>.arrow::after {
  border-right-color: #fcd27b;
}

.popover-danger {
  background-color: #f7765f;
  color: #FFFFFF;
}

.popover-danger .popover-title {
  background-color: #f7765f;
  color: rgba(0, 0, 0, 0.56);
}

.popover-danger.bottom .arrow:after {
  border-bottom-color: #f7765f;
}

.popover-danger.left>.arrow::after {
  border-left-color: #f7765f;
}

.popover-danger.top>.arrow::after {
  border-top-color: #f7765f;
}

.popover-danger.right>.arrow::after {
  border-right-color: #f7765f;
}

.popover-primary.bs-tether-element-attached-bottom::after,
.popover-primary.bs-tether-element-attached-bottom::before,
.popover-primary.popover-top::after,
.popover-primary.popover-top::before {
  border-top-color: #6dd3d6 !important;
}

.popover.popover-info.bs-tether-element-attached-top::after,
.popover.popover-info.popover-bottom::after,
.popover.popover-info.bs-tether-element-attached-top::before,
.popover.popover-info.popover-bottom::before {
  border-bottom-color: #6ec7e0 !important;
}

.popover-success.bs-tether-element-attached-left::after,
.popover-success.bs-tether-element-attached-left::before,
.popover-success.popover-right::after,
.popover-success.popover-right::before {
  border-right-color: #86d9ab !important;
}

.popover.popover-warning.bs-tether-element-attached-right::after,
.popover.popover-warning.bs-tether-element-attached-right::before,
.popover.popover-warning.popover-left::after,
.popover.popover-warning.popover-left::before {
  border-left-color: #fcd27b !important;
}

.popover.popover-danger.bs-tether-element-attached-right::after,
.popover.popover-danger.bs-tether-element-attached-right::before,
.popover.popover-danger.popover-left::after,
.popover.popover-danger.popover-left::before {
  border-left-color: #f7765f !important;
}

.popover.bs-tether-element-attached-top::after,
.popover.popover-bottom::after,
.popover.bs-tether-element-attached-top::before,
.popover.popover-bottom::before {
  border-bottom-color: #fff !important;
}

.modal-header {
  border-bottom: 1px solid #DDDDDD;
  padding: 20px;
  text-align: center;
  display: block !important;
}

.modal-header.no-border-header {
  border-bottom: 0 none !important;
}

.modal-header.no-border-header .modal-title {
  margin-top: 20px;
}

.modal-header button.close:focus {
  outline: none;
}

.modal-dialog.modal-sm .modal-header button.close,
.modal-dialog.modal-register .modal-header button.close {
  margin-top: 0;
}

.modal-content {
  border: 0 none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.modal-content .modal-header h6 {
  margin-top: 10px;
}

.modal-dialog {
  padding-top: 60px;
}

.modal-body {
  padding: 20px 50px;
  color: #000;
}

.modal-footer {
  border-top: 1px solid #DDDDDD;
  padding: 0px;
}

.modal-footer.no-border-footer {
  border-top: 0 none;
}

.modal-footer .left-side,
.modal-footer .right-side {
  display: inline-block;
  text-align: center;
  width: 49%;
}

.modal-footer .btn-link {
  padding: 20px;
  width: 100%;
}

.modal-footer .divider {
  background-color: #DDDDDD;
  display: inline-block;
  float: inherit;
  height: 63px;
  margin: 0px -3px;
  width: 1px;
}

.modal-register .modal-footer {
  text-align: center;
  margin-bottom: 25px;
  padding: 20px 0 15px;
}

.modal-register .modal-footer span {
  width: 100%;
}

.modal-header:after {
  display: table;
  content: " ";
}

.modal-header:before {
  display: table;
  content: " ";
}

.section-nucleo-icons {
  padding: 100px 0;
}

.section-nucleo-icons .icons-container {
  position: relative;
  max-width: 450px;
  height: 300px;
  max-height: 300px;
  margin: 0 auto;
}

.section-nucleo-icons .icons-container i {
  font-size: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.section-nucleo-icons .icons-container i:nth-child(1) {
  top: 5%;
  left: 7%;
}

.section-nucleo-icons .icons-container i:nth-child(2) {
  top: 28%;
  left: 24%;
}

.section-nucleo-icons .icons-container i:nth-child(3) {
  top: 40%;
}

.section-nucleo-icons .icons-container i:nth-child(4) {
  top: 18%;
  left: 62%;
}

.section-nucleo-icons .icons-container i:nth-child(5) {
  top: 74%;
  left: 3%;
}

.section-nucleo-icons .icons-container i:nth-child(6) {
  top: 36%;
  left: 44%;
  font-size: 65px;
  color: #f5593d;
  padding: 1px;
}

.section-nucleo-icons .icons-container i:nth-child(7) {
  top: 59%;
  left: 26%;
}

.section-nucleo-icons .icons-container i:nth-child(8) {
  top: 60%;
  left: 69%;
}

.section-nucleo-icons .icons-container i:nth-child(9) {
  top: 72%;
  left: 47%;
}

.section-nucleo-icons .icons-container i:nth-child(10) {
  top: 88%;
  left: 27%;
}

.section-nucleo-icons .icons-container i:nth-child(11) {
  top: 31%;
  left: 80%;
}

.section-nucleo-icons .icons-container i:nth-child(12) {
  top: 88%;
  left: 68%;
}

.section-nucleo-icons .icons-container i:nth-child(13) {
  top: 5%;
  left: 81%;
}

.section-nucleo-icons .icons-container i:nth-child(14) {
  top: 58%;
  left: 90%;
}

.section-nucleo-icons .icons-container i:nth-child(15) {
  top: 6%;
  left: 40%;
}

.section-dark .icons-container {
  color: #FFFFFF;
}

.info .icon {
  margin-top: 0;
  font-size: 3.4em;
}

.icon-primary {
  color: #51cbce;
}

.icon-info {
  color: #51bcda;
}

.icon-success {
  color: #6bd098;
}

.icon-warning {
  color: #fbc658;
}

.icon-danger {
  color: #f5593d;
}

.icon-neutral {
  color: #FFFFFF;
}

.carousel-control {
  background-color: #f5593d;
  border-radius: 50%;
  opacity: 1;
  text-shadow: none;
}

.carousel-control:hover,
.carousel-control:focus {
  opacity: 1;
  background-color: #f33816;
}

.carousel-control.left {
  height: 30px;
  top: 50%;
  width: 30px;
  left: 25px;
  opacity: 0;
}

.carousel-control.right {
  height: 30px;
  right: 25px;
  top: 50%;
  width: 30px;
  opacity: 0;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa,
.carousel-control .fa {
  display: inline-block;
  z-index: 5;
}

.carousel-control .fa {
  font-size: 26px;
  margin: 2px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.page-carousel {
  border-radius: 12px !important;
  border: none !important;
  width: 100%;
}

.carousel-inner>.carousel-item>img,
.carousel-inner>.carousel-item>a>img {
  border-radius: 12px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
}

.carousel-inner .carousel-item img {
  width: 100%;
}

.carousel-indicators>li {
  background-color: rgba(204, 204, 204, 0.49);
  border: 0 none;
}

.carousel-indicators .active {
  background-color: #f5593d;
}

.page-carousel:hover .carousel-control.right,
.page-carousel:hover .carousel-control.left {
  opacity: 1;
  z-index: 1;
}

.page-header {
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 999px;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header .filter::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.page-header.page-header-small {
  min-height: 65vh !important;
  max-height: 700px;
}

.page-header.page-header-xs {
  min-height: 40vh !important;
}

.page-header.section-dark .content-center,
.page-header.section-dark .category-absolute {
  z-index: 1;
}

.page-header .motto {
  text-align: left;
  z-index: 3;
  color: #fff;
  position: relative;
}

.landing-section {
  padding: 100px 0;
  z-index: 1;
}

.section-buttons {
  z-index: 1;
}

.landing-section .btn-simple {
  padding: 0;
}

.landing-section .column {
  padding: 0 75px 0 25px;
}

.team-player .img-circle,
.team-player .img-thumbnail {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

.contact-form {
  margin-top: 30px;
}

.contact-form label {
  margin-top: 15px;
}

.contact-form .btn {
  margin-top: 30px;
}

.register-background .container {
  margin-top: 11%;
  position: relative;
  z-index: 3;
}

.register-footer {
  bottom: 20px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: transparent;
  color: #FFFFFF;
}

.register-footer .fa-heart {
  color: #EB5E28;
}

.register-card label {
  margin-top: 15px;
}

.register-card .title {
  color: #B33C12;
  text-align: center;
}

.register-card .btn {
  margin-top: 30px;
}

.register-card .forgot {
  text-align: center;
}

.profile-content {
  position: relative;
}

.owner {
  text-align: center;
}

.owner .avatar {
  padding: 15px;
  max-width: 180px;
  margin: -85px auto 0;
  display: inline-block;
}

.owner .name h4 {
  margin-top: 10px;
}

.profile-tabs {
  margin: 50px 0;
  min-height: 300px;
}

#following h3 {
  margin: 20px 0 40px 0;
}

#follows .follows .unfollow .checkbox {
  margin-top: -15px;
}

#follows .follows h6 {
  margin-top: 15px;
}

.follows hr {
  margin-top: 10px;
}

.title-brand {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  display: block;
}

.title-brand .type {
  position: absolute;
  font-size: 20px;
  background: #132026;
  padding: 6px 10px;
  border-radius: 4px;
  top: 0;
  font-weight: 600;
  margin-top: 10px;
  right: -15px;
}

.presentation-title {
  position: relative;
  top: -320px;
  font-weight: 700;
  font-size: 8em;
  margin: 0;
  color: #FFFFFF;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
  background: -ms-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
 * Title media queries
 */ 

@media (max-width: 1000px) {
  .presentation-title {
    font-size: 7em;
  }
}

@media (max-width: 770px) {
  .presentation-title {
    font-size: 6em;
  }
}

@media (max-width: 582px) {
  .presentation-title {
    font-size: 5em;
  }
}

@media (max-width: 455px) {
  .presentation-title {
    font-size: 4em;
  }
}



.presentation-subtitle {
  position: relative;
  top: 100px;
  margin-top: -200px;
  margin-bottom: 250px;
  font-size: 1.7em;
  color: #FFFFFF;
}

.category-absolute {
  position: absolute;
  text-align: center;
  top: 100vh;
  margin-top: -60px;
  padding: 0 15px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
}

.category-absolute .creative-tim-logo {
  max-width: 100px;
  top: -2px;
  left: 3px;
  position: relative;
}

.fog-low {
  top: 125px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -35%;
  margin-bottom: -50px;
  width: 110%;
  opacity: .85;
}

.fog-low img {
  width: 100%;
}

.fog-low.right {
  margin-left: 30%;
  opacity: 1;
}

.page-header .content-center {
  margin-top: 85px;
}

.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.following img {
  max-width: 70px;
}

.profile-content .tab-content .tab-pane {
  min-height: 200px;
}

.profile-content .tab-content #tweets,
.profile-content .tab-content #connections,
.profile-content .tab-content #media {
  height: 100%;
}

.section {
  padding: 70px 0;
  position: relative;
  background-color: #FFFFFF;
}

.section-with-space {
  padding: 60px 0;
}

.section-gray {
  background-color: #EEEEEE;
}

.section-nude {
  background-color: #FFFCF5;
}

.section-gold {
  background-color: #caac90;
  color: #FFFFFF;
}

.section-brown {
  background-color: #A59E94;
  color: #FFFFFF;
}

.section-light-blue {
  background-color: #51cbce;
  color: #FFFFFF;
}

.section-dark-blue {
  background-color: #506367;
  color: #FFFFFF;
}

.section-dark {
  background-color: #0b1011;
}

.section-image,
.section-gold,
.section-dark {
  position: relative;
}

.section-image .title,
.section-image .info-title,
.section-image .card-plain .card-title,
.section-gold .title,
.section-gold .info-title,
.section-gold .card-plain .card-title,
.section-dark .title,
.section-dark .info-title,
.section-dark .card-plain .card-title {
  color: #FFFFFF !important;
}

.section-image .category,
.section-image .description,
.section-image .card-plain .card-description,
.section-image .card-plain .card-category,
.section-gold .category,
.section-gold .description,
.section-gold .card-plain .card-description,
.section-gold .card-plain .card-category,
.section-dark .category,
.section-dark .description,
.section-dark .card-plain .card-description,
.section-dark .card-plain .card-category {
  color: rgba(255, 255, 255, 0.7);
}

.section-image hr,
.section-gold hr,
.section-dark hr {
  border-color: rgba(255, 255, 255, 0.19);
}

.page-header .title,
.page-header .info-title,
.carousel-caption .title,
.carousel-caption .info-title {
  color: #FFFFFF;
}

[class*="features-"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"] {
  padding: 80px 0;
}

.section-image {
  background-position: center center;
  background-size: cover;
}

.section-image:before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.section-image .container {
  position: relative;
  z-index: 2;
}

.section-login {
  min-height: 700px;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .page-header .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  .page-header .presentation-title {
    background: none !important;
  }
}

[class*="features-"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"] {
  padding: 80px 0;
}

.section-image {
  background-position: center center;
  background-size: cover;
}

.section-image:before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.section-image .container {
  position: relative;
  z-index: 2;
}

/*          Changes for small display      */

@media (max-width: 767px) {
  #cd-vertical-nav {
    display: none !important;
  }
  .coloured-cards .card-big-shadow {
    margin: 0 auto;
  }
  .register-page .page-header {
    max-height: 2000px;
  }
  .section-testimonials .our-clients {
    margin-top: 0 !important;
  }
  .register .page-header {
    max-height: fit-content;
  }
  .form-group.has-danger {
    margin-bottom: 30px;
  }
  body {
    position: relative;
    font-size: 12px;
  }
  h6 {
    font-size: 1em;
  }

  .bar1,
  .bar2,
  .bar3 {
    outline: 1px solid transparent;
  }
  .bar1 {
    top: 0px;
    -webkit-animation: topbar-back 500ms linear 0s;
    -moz-animation: topbar-back 500ms linear 0s;
    animation: topbar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .bar2 {
    opacity: 1;
  }
  .bar3 {
    bottom: 0px;
    -webkit-animation: bottombar-back 500ms linear 0s;
    -moz-animation: bottombar-back 500ms linear 0s;
    animation: bottombar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .toggled .bar1 {
    top: 6px;
    -webkit-animation: topbar-x 500ms linear 0s;
    -moz-animation: topbar-x 500ms linear 0s;
    animation: topbar-x 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .toggled .bar2 {
    opacity: 0;
  }
  .toggled .bar3 {
    bottom: 6px;
    -webkit-animation: bottombar-x 500ms linear 0s;
    -moz-animation: bottombar-x 500ms linear 0s;
    animation: bottombar-x 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @keyframes topbar-x {
    0% {
      top: 0px;
      transform: rotate(0deg);
    }
    45% {
      top: 6px;
      transform: rotate(145deg);
    }
    75% {
      transform: rotate(130deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
  @-webkit-keyframes topbar-x {
    0% {
      top: 0px;
      -webkit-transform: rotate(0deg);
    }
    45% {
      top: 6px;
      -webkit-transform: rotate(145deg);
    }
    75% {
      -webkit-transform: rotate(130deg);
    }
    100% {
      -webkit-transform: rotate(135deg);
    }
  }
  @-moz-keyframes topbar-x {
    0% {
      top: 0px;
      -moz-transform: rotate(0deg);
    }
    45% {
      top: 6px;
      -moz-transform: rotate(145deg);
    }
    75% {
      -moz-transform: rotate(130deg);
    }
    100% {
      -moz-transform: rotate(135deg);
    }
  }
  @keyframes topbar-back {
    0% {
      top: 6px;
      transform: rotate(135deg);
    }
    45% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      top: 0px;
      transform: rotate(0);
    }
  }
  @-webkit-keyframes topbar-back {
    0% {
      top: 6px;
      -webkit-transform: rotate(135deg);
    }
    45% {
      -webkit-transform: rotate(-10deg);
    }
    75% {
      -webkit-transform: rotate(5deg);
    }
    100% {
      top: 0px;
      -webkit-transform: rotate(0);
    }
  }
  @-moz-keyframes topbar-back {
    0% {
      top: 6px;
      -moz-transform: rotate(135deg);
    }
    45% {
      -moz-transform: rotate(-10deg);
    }
    75% {
      -moz-transform: rotate(5deg);
    }
    100% {
      top: 0px;
      -moz-transform: rotate(0);
    }
  }
  @keyframes bottombar-x {
    0% {
      bottom: 0px;
      transform: rotate(0deg);
    }
    45% {
      bottom: 6px;
      transform: rotate(-145deg);
    }
    75% {
      transform: rotate(-130deg);
    }
    100% {
      transform: rotate(-135deg);
    }
  }
  @-webkit-keyframes bottombar-x {
    0% {
      bottom: 0px;
      -webkit-transform: rotate(0deg);
    }
    45% {
      bottom: 6px;
      -webkit-transform: rotate(-145deg);
    }
    75% {
      -webkit-transform: rotate(-130deg);
    }
    100% {
      -webkit-transform: rotate(-135deg);
    }
  }
  @-moz-keyframes bottombar-x {
    0% {
      bottom: 0px;
      -moz-transform: rotate(0deg);
    }
    45% {
      bottom: 6px;
      -moz-transform: rotate(-145deg);
    }
    75% {
      -moz-transform: rotate(-130deg);
    }
    100% {
      -moz-transform: rotate(-135deg);
    }
  }
  @keyframes bottombar-back {
    0% {
      bottom: 6px;
      transform: rotate(-135deg);
    }
    45% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      bottom: 0px;
      transform: rotate(0);
    }
  }
  @-webkit-keyframes bottombar-back {
    0% {
      bottom: 6px;
      -webkit-transform: rotate(-135deg);
    }
    45% {
      -webkit-transform: rotate(10deg);
    }
    75% {
      -webkit-transform: rotate(-5deg);
    }
    100% {
      bottom: 0px;
      -webkit-transform: rotate(0);
    }
  }
  @-moz-keyframes bottombar-back {
    0% {
      bottom: 6px;
      -moz-transform: rotate(-135deg);
    }
    45% {
      -moz-transform: rotate(10deg);
    }
    75% {
      -moz-transform: rotate(-5deg);
    }
    100% {
      bottom: 0px;
      -moz-transform: rotate(0);
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .navbar-nav .open .dropdown-menu>li>a {
    padding: 15px 15px 5px 50px;
  }
  .navbar-nav .open .dropdown-menu>li:first-child>a {
    padding: 5px 15px 5px 50px;
  }
  .navbar-nav .open .dropdown-menu>li:last-child>a {
    padding: 15px 15px 25px 50px;
  }
  [class*="navbar-"] .navbar-nav>li>a,
  [class*="navbar-"] .navbar-nav>li>a:hover,
  [class*="navbar-"] .navbar-nav>li>a:focus,
  [class*="navbar-"] .navbar-nav .active>a,
  [class*="navbar-"] .navbar-nav .active>a:hover,
  [class*="navbar-"] .navbar-nav .active>a:focus,
  [class*="navbar-"] .navbar-nav .open .dropdown-menu>li>a,
  [class*="navbar-"] .navbar-nav .open .dropdown-menu>li>a:hover,
  [class*="navbar-"] .navbar-nav .open .dropdown-menu>li>a:focus,
  [class*="navbar-"] .navbar-nav .navbar-nav .open .dropdown-menu>li>a:active {
    color: white;
  }
  [class*="navbar-"] .navbar-nav>li>a:not(.btn),
  [class*="navbar-"] .navbar-nav>li>a:hover,
  [class*="navbar-"] .navbar-nav>li>a:focus,
  [class*="navbar-"] .navbar-nav .open .dropdown-menu>li>a:not(.btn),
  [class*="navbar-"] .navbar-nav .open .dropdown-menu>li>a:hover,
  [class*="navbar-"] .navbar-nav .open .dropdown-menu>li>a:focus {
    opacity: .7;
    background: transparent;
  }
  [class*="navbar-"] .navbar-nav.navbar-nav .open .dropdown-menu>li>a:active {
    opacity: 1;
  }
  [class*="navbar-"] .navbar-nav .dropdown>a:hover .caret {
    border-bottom-color: #777;
    border-top-color: #777;
  }
  [class*="navbar-"] .navbar-nav .dropdown>a:active .caret {
    border-bottom-color: white;
    border-top-color: white;
  }
  .footer .footer-nav,
  .footer .credits {
    margin: 0 auto;
  }
  #typography .typography-line .note {
    margin-left: 7px !important;
  }
  .dropdown-menu {
    display: none;
  }
  .navbar-fixed-top {
    -webkit-backface-visibility: hidden;
  }
  .social-line .btn {
    margin: 0 0 10px 0;
  }
  .subscribe-line .form-control {
    margin: 0 0 10px 0;
  }
  .social-line.pull-right {
    float: none;
  }
  .footer nav.pull-left {
    float: none !important;
  }
  .footer:not(.footer-big) nav>ul li {
    float: none;
  }
  .social-area.pull-right {
    float: none !important;
  }
  .form-control+.form-control-feedback {
    margin-top: 5px;
  }
  .form-control.form-control-danger.no-border {
    margin-top: 15px;
  }
  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: transparent !important;
  }
  .btn.dropdown-toggle {
    margin-bottom: 0;
  }
  .media-post .author {
    width: 25%;
    float: none !important;
    display: block;
    margin: 0 auto 10px;
  }
  .media-post .media-body {
    width: 100%;
  }
  .modal-footer .btn-simple {
    padding: 15px;
  }
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
  .typography-line {
    padding-left: 100px !important;
  }
  .projects-1 .project-pills .nav.nav-pills {
    display: block !important;
  }
  .projects-1 .project-pills .nav.nav-pills .nav-item:first-child .nav-link {
    border-radius: 12px 12px 0 0 !important;
    margin-left: -1px;
  }
  .projects-1 .project-pills .nav.nav-pills .nav-item.active:first-child .nav-link {
    border-radius: 12px 12px 0 0 !important;
    margin-left: -1px;
  }
  .projects-1 .project-pills .nav.nav-pills .nav-item:last-child .nav-link {
    border-radius: 0 0 12px 12px !important;
    margin-left: -1px;
  }
  .testimonials-2 .testimonials-people img,
  .section-testimonials .testimonials-people img {
    display: none !important;
  }
  .presentation-page .components-container .card {
    margin-bottom: 40px !important;
  }
  .btn-wd {
    min-width: 280px;
  }
  .presentation-page .title-brand .type {
    font-size: 16px;
    transform: translateY(-28px);
    -webkit-transform: translateY(-28px);
    -moz-transform: translateY(-28px);
    -o-transform: translateY(-28px);
  }
  .presentation-page .section-cards,
  .presentation-page .section-components {
    overflow: hidden;
  }
  .presentation-page .section-cards .first-card,
  .presentation-page .section-components .first-card {
    top: 750px !important;
  }
  .presentation-page .section-cards .first-card .grid__link,
  .presentation-page .section-components .first-card .grid__link {
    max-width: 200px !important;
  }
  .presentation-page .section-cards .fourth-card,
  .presentation-page .section-components .fourth-card {
    top: 940px !important;
  }
  .presentation-page .section-cards .fourth-card .grid__link,
  .presentation-page .section-components .fourth-card .grid__link {
    max-width: 200px !important;
  }
  .presentation-page .section-cards .fifth-card,
  .presentation-page .section-components .fifth-card {
    top: 950px !important;
    left: 220px !important;
  }
  .presentation-page .section-cards .fifth-card .grid__link,
  .presentation-page .section-components .fifth-card .grid__link {
    max-width: 200px !important;
  }
  .presentation-page .section-cards .sixth-card,
  .presentation-page .section-components .sixth-card {
    top: 1335px !important;
    left: 220px !important;
  }
  .presentation-page .section-cards .sixth-card .grid__link,
  .presentation-page .section-components .sixth-card .grid__link {
    max-width: 200px !important;
  }
  .presentation-page .section-cards .seventh-card,
  .presentation-page .section-components .seventh-card {
    top: 1155px !important;
  }
  .presentation-page .section-cards .seventh-card .grid__link,
  .presentation-page .section-components .seventh-card .grid__link {
    max-width: 200px !important;
  }
  .presentation-page .section-content .image-container .add-animation {
    max-height: 250px !important;
    max-width: 180px !important;
  }
  .presentation-page .section-components .image-container .components-macbook {
    max-width: 580px !important;
    max-height: 400px !important;
  }
  .presentation-page .section-components .image-container .social-img,
  .presentation-page .section-components .image-container .share-btn-img {
    display: none;
  }
  .presentation-page .section-components .title {
    margin-top: -100px !important;
  }
  .presentation-page .section-examples {
    padding-top: 0 !important;
    margin-top: 10px !important;
  }
  .presentation-page .section-icons .icons-nucleo .nc-icon:not(.ninth-left-icon):not(.seventh-left-icon):not(.third-left-icon) {
    display: none !important;
  }
  .bootstrap-datetimepicker-widget {
    visibility: visible !important;
  }
  .presentation-page .fog-low {
    margin-bottom: -35px;
  }
  .presentation-page .presentation-title {
    font-size: 8em;
  }
  .presentation-page .presentation-subtitle {
    margin-top: 40px;
  }
  .presentation-page .title-brand {
    max-width: 450px;
  }
  .presentation-page .title-brand .type {
    font-size: 16px;
  }
  .demo-icons ul li {
    width: 20%;
    float: left;
  }
  .info.info-separator:after {
    display: none;
  }
  .pricing-5 .choose-plan {
    text-align: center;
  }
  .pricing-5 .choose-plan .nav.nav-pills {
    display: inline-flex;
  }
  .pricing-5 .description {
    text-align: center;
  }
  .page-carousel .carousel-inner [class*='col-md'] {
    margin-left: 0 !important;
  }
  .page-carousel .right.carousel-control {
    margin-right: 0 !important;
  }
  .page-carousel .left.carousel-control {
    margin-left: 0 !important;
  }
  .subscribe-line .form-control {
    border: 1px solid #DDDDDD;
    padding-left: 10px;
  }
  .subscribe-line .btn {
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px) {
  .section-sections .section-cols {
    position: relative;
    z-index: 1;
  }
  .register-page .page-header .container {
    margin-top: 150px;
  }
}

@media (max-width: 1023px) and (min-width: 767px) {
  .presentation-page .section-content .image-container .area-img {
    max-width: 190px;
    max-height: 270px;
  }
  .presentation-page .section-content .image-container .info-img {
    max-width: 190px;
    max-height: 270px;
    left: -20%;
  }
  .presentation-page .section-content .section-description {
    margin-top: 0 !important;
  }
  .presentation-page .section-components .components-macbook {
    left: -75px !important;
  }
  .presentation-page .section-cards .codrops-header {
    margin-top: 10px !important;
  }
}

@media (max-width: 1367px) and (min-width: 1024px) {
  .presentation-page .section-components .basic-container {
    margin-left: 5em;
  }
}

@media (max-width: 500px) {
  .presentation-page .section-header .card {
    min-height: 230px;
  }
  #cards .card-profile {
    margin-top: 50px;
  }
  .pricing-5 .title {
    text-align: center;
  }
  .presentation-page .presentation-title {
    font-size: 4em;
  }
  .presentation-page .title-brand .type {
    font-size: 12px;
    padding: 4px 7px;
    border-radius: 4px;
    top: 0;
    font-weight: 600;
    margin-top: 20px;
    right: 2px;
  }
  .presentation-page .section-cards .codrops-header .description {
    max-width: 220px;
  }
  .register-page .page-header .container .info:first-of-type {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1367px) {
  .presentation-page .section-cards,
  .presentation-page .section-components {
    overflow: hidden;
  }
}

@media screen and (min-width: 1025px) {
  .section-sections .section-cols {
    position: relative;
    z-index: 1;
  }
  .section-sections .section-cols .row:first-of-type {
    margin-top: 50px;
    margin-right: -120px;
    margin-left: -15px;
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    -o-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    transform: translateX(-80px);
  }
  .section-sections .section-cols .row:nth-of-type(2) {
    margin-left: -100px;
    margin-right: -15px;
    transform: translateX(80px);
  }
  .section-sections .section-cols .row:nth-of-type(3) {
    margin-right: -120px;
    margin-left: 0px;
    transform: translateX(-120px);
  }
  .section-sections .section-cols .row:nth-of-type(4) {
    margin-right: -100px;
    margin-left: -15px;
    transform: translateX(-50px);
  }
}

@media only screen and (min-width: 1024px) {
  .demo-icons ul li {
    width: 12.5%;
    float: left;
    padding: 32px 0;
  }
}

@media (max-width: 1200px) {
  .presentation-page .presentation-title {
    font-size: 8em;
  }
  .presentation-page .title-brand {
    max-width: 650px;
  }
}

@media (max-width: 1200px) {
  .presentation .section-images .image img {
    width: 100%;
  }
}

@media screen and (max-width: 374px) {
  .footer.footer-big .copyright .pull-left,
  .footer.footer-big .copyright .pull-right {
    float: none !important;
  }
  .full-screen.login .card.card-register {
    margin-bottom: 20px;
  }
  .full-screen.login .demo-footer {
    margin-left: -15px;
  }
  .about-us .header-wrapper {
    height: auto !important;
  }
  .presentation-page .section-content .image-container .area-img {
    max-width: 170px !important;
  }
}

/*# sourceMappingURL=kit-free.css.map */