<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="navbarHeadLinks">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/assets/vendor/aos/aos.css" rel="stylesheet"
          th:href="@{/assets/vendor/aos/aos.css}" >

    <link href="../../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="../../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"
          th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link href="../../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}">
    <link href="../../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}">
    <link href="../../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet"
          th:href="@{/assets/vendor/remixicon/remixicon.css}">
    <link href="../../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}">
</head>
<body>
<div th:fragment="navbar(currentUser)">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center justify-content-lg-between">

            <h1 class="logo me-auto me-lg-0"><a href="../index.html">Gp<span>.</span></a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto " href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <a href="#about" class="get-started-btn scrollto">Get Started</a>

        </div>
    </header><!-- End Header -->

</div>
</body>
</html>