<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AutoService - SmartGarage</title>
    <link rel="icon" type="image/png" href="../../static/assets/img/icons8-car-service-24.png"
          th:href="@{/assets/img/icons8-car-service-24.png}">

</head>
<body>
<ul>
    <li><h3><a href="#" th:href="@{/visits}" >Visit</a>
    </h3></li>
</ul>

<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/templates/visit/visit.html}">Visit</a></h3></li>
</ul>

<h2 th:text="${visit.getStartDate()}">Departure Date</h2>
<h3 th:text="${visit.getEndDate()}">Arrival Date</h3>
<h3 th:text="${visit.getVehicleId()}">Vehicle ID</h3>

</body>
</html>
