<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>All Visits for a Customer</title>
    <link rel="icon" type="image/png" href="../../static/assets/img/icons8-car-service-24.png"
          th:href="@{/assets/img/icons8-car-service-24.png}">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/assets/vendor/aos/aos.css" rel="stylesheet"
          th:href="@{/assets/vendor/aos/aos.css}">

    <link href="../../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="../../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"
          th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link href="../../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}">
    <link href="../../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}">
    <link href="../../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet"
          th:href="@{/assets/vendor/remixicon/remixicon.css}">
    <link href="../../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700,200}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"
          th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css}">

    <!-- CSS Files -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/paper-kit.css?v=2.2.0" rel="stylesheet" th:href="@{/css/paper-kit.css?v=2.2.0}"/>

</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="../index.html" th:href="@{/}">SG<span>.</span></a></h1>

        <nav id="navbar" class="navbar order-last order-lg-0">

            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Our Service:</h2>
                <ol>
                    <li><a href="../index.html" th:href="@{/}">Home</a></li>
                    <li>Show all services</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <!-- ======= Services Section ======= -->
            <section id="services" class="services">
                <div class="container" data-aos="fade-up">
                    <div class="table">

                        <div class="header">

                            <div class="table-of-mine">
                                <h2> Show All Details for Visits</h2>
                                <div class="row-form">
                                    <table class="table-delete">
                                        <tr>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Service name</th>
                                            <th>Model</th>
                                            <th>Manufacturer</th>
                                            <th>Price</th>
                                            <th>Currency</th>
                                        </tr>
                                        <div class="Form-title" th:each="visit : ${userVisits}">
                                            <tr>
                                                <div class="bloc2">
                                                    <td>
                                                        <div class="bloc2" th:text="${visit.startDate}">
                                                            Start Date
                                                        </div>
                                                    </td>
                                                </div>

                                                <div class="bloc2">
                                                    <td>
                                                        <div class="bloc2" th:text="${visit.endDate}">
                                                            End Date
                                                        </div>
                                                    </td>
                                                </div>
                                                <div class="bloc2">
                                                    <td>
                                                        <div class="bloc2" th:text="${visit.serviceName}">
                                                            Service Name
                                                        </div>
                                                    </td>
                                                </div>
                                                <div class="bloc2">
                                                    <td>
                                                        <div class="bloc2" th:text="${visit.model}">
                                                            Model
                                                        </div>
                                                    </td>
                                                </div>
                                                <div class="bloc2">
                                                    <td>
                                                        <div class="bloc2" th:text="${visit.manufacturer}">
                                                            Model
                                                        </div>
                                                    </td>
                                                </div>
                                                <div class="bloc2">
                                                    <td>
                                                        <div class="bloc2" th:text="${visit.price}">
                                                            Price
                                                        </div>
                                                    </td>
                                                </div>
                                                <div class="bloc2">
                                                    <td>
                                                        <div class="bloc2" th:text="${visit.currency}">
                                                            Currency
                                                        </div>
                                                    </td>
                                                </div>
                                            </tr>
                                        </div>
                                    </table>
                                    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${userCurrency}" method="post">
                                        <h2>Select currency</h2>
                                        <label>
                                            <select th:field="*{userCurrency}">
                                                <option th:each="currency : ${currencies}"
                                                        th:value="${currency}"
                                                        th:text="${currency}">
                                                </option>
                                            </select>
                                        </label>
                                        <input name="select" id="select" class="btn btn-block login-btn mb-4" type="submit"
                                               value="Select">
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End Services Section -->
        </div>
    </section>

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<div th:insert="fragments/footer :: footer"></div>


<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../static/assets/vendor/aos/aos.js"
        th:src="@{/assets/vendor/aos/aos.js}"></script>
<script src="../../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/assets/vendor/glightbox/js/glightbox.min.js"
        th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../../static/assets/vendor/purecounter/purecounter.js"
        th:src="@{/assets/vendor/purecounter/purecounter.js}"></script>
<script src="../../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>

<!-- Template Main JS File -->
<script src="../../static/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

</body>
</html>