<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Update Visits</title>
    <link rel="icon" type="image/png" href="../../static/assets/img/icons8-car-service-24.png"
          th:href="@{/assets/img/icons8-car-service-24.png}">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/assets/vendor/aos/aos.css" rel="stylesheet"
          th:href="@{/assets/vendor/aos/aos.css}">

    <link href="../../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="../../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"
          th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link href="../../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}">
    <link href="../../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}">
    <link href="../../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet"
          th:href="@{/assets/vendor/remixicon/remixicon.css}">
    <link href="../../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700,200}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"
          th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css}">

    <!-- CSS Files -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/paper-kit.css?v=2.2.0" rel="stylesheet" th:href="@{/css/paper-kit.css?v=2.2.0}"/>

</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="../index.html" th:href="@{/}">SG<span>.</span></a></h1>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto " href="../admin-panel.html" th:href="@{/admin}">Admin Panel</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Our Service:</h2>
                <ol>
                    <li><a href="../index.html" th:href="@{/}">Home</a></li>
                    <li>Show all visits to update</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <div class="table">

        <!-- ======= Services Section ======= -->
        <div class="container" data-aos="fade-up">

            <div class="row-form">
                <table class="table">
                    <tr>
                        <th>Visit ID</th>
                        <th>Arrival Date</th>
                        <th>Departure Date</th>
                        <th>Vehicle ID</th>
                    </tr>

                    <div class="Form-title" th:each="visit : ${visits}">
                        <tr>
                            <td>
                                <a href="#"
                                   th:href="@{/visits/update/{id}(id=${visit.getVisitId()})}"
                                   th:text="${visit.visitId}">Visit
                                </a>
                            </td>
                            <td>
                                <div class="bloc2" th:text="${visit.getStartDate()}">
                                    Arrival Date
                                </div>
                            </td>
                            <td>
                                <div class="bloc2" th:text="${visit.getEndDate()}">
                                    Departure Date
                                </div>
                            </td>
                            <td>
                                <div class="bloc2" th:text="${visit.getVehicle().getVehicleId()}">
                                    Vehicle ID
                                </div>
                            </td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>

    </div>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:insert="fragments/footer :: footer"></div>


<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../static/assets/vendor/aos/aos.js"
        th:src="@{/assets/vendor/aos/aos.js}"></script>
<script src="../../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/assets/vendor/glightbox/js/glightbox.min.js"
        th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../../static/assets/vendor/purecounter/purecounter.js"
        th:src="@{/assets/vendor/purecounter/purecounter.js}"></script>
<script src="../../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>

<!-- Template Main JS File -->
<script src="../../static/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

</body>

</html>