<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <title>New Visit - SmartGarage</title>
    <link rel="icon" type="image/png" href="../../static/assets/img/icons8-car-service-24.png"
          th:href="@{/assets/img/icons8-car-service-24.png}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/assets/vendor/aos/aos.css" rel="stylesheet"
          th:href="@{/assets/vendor/aos/aos.css}">

    <link href="../../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="../../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"
          th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link href="../../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}">
    <link href="../../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}">
    <link href="../../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet"
          th:href="@{/assets/vendor/remixicon/remixicon.css}">
    <link href="../../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700,200}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"
          th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css}">

    <!-- CSS Files -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/paper-kit.css?v=2.2.0" rel="stylesheet" th:href="@{/css/paper-kit.css?v=2.2.0}"/>

</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="../index.html" th:href="@{/}">SG<span>.</span></a></h1>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto " href="../admin-panel.html" th:href="@{/admin}">Admin Panel</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2> Create new Visit:</h2>
                <ol>
                    <li><a href="../index.html" th:href="@{/}">Home</a></li>
                    <li>Create new visit</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <div class="table">

        <div class="header">

            <div class="table-of-mine">
                <div class="row-form">

                    <h2>Create new Visit</h2>
                    <br>
                    <p>From this form you can create new visit.</p>
                    <br>

                    <form action="#" th:action="@{/visits/new}" th:object="${selectedService}" method="post">
                        <label>
                            <select th:field="*{selectedServiceId}">
                                <option th:each="service : ${services}"
                                        th:value="${service.getServiceId()}"
                                        th:text="${service.getName()}">
                                </option>
                            </select>
                        </label>

                        <input name="add service" id="add service" class="btn btn-block login-btn mb-4" type="submit"
                               value="Add Selected Service">
                    </form>

                    <a href="" class="btn btn-block login-btn mb-4" th:href="@{/visits/new/delete}">Clear Selected
                        Services</a>

                    <form action="#" th:action="@{/visits/new-visit}" th:object="${visit}" method="post">
                        <div class="form-wrapper">
                            <label>
                                Arrival Date
                                <input type="date" placeholder="Arrival Date" class="form-control"
                                       th:field="*{startDate}">
                            </label>
                        </div>

                        <div class="form-wrapper">
                            <label>
                                Departure Date
                                <input type="date" placeholder="Departure Date" class="form-control"
                                       th:field="*{endDate}">
                            </label>
                            <i class="zmdi zmdi-email"></i>
                        </div>

                        <div class="form-wrapper">
                            <label>
                                Vehicle ID
                                <input type="text" placeholder="XXXX-XXXX..." class="form-control"
                                       th:field="*{vehicleId}">
                            </label>
                            <i class="zmdi zmdi-lock"></i>
                        </div>

                        Services
                        <td>
                            <div class="bloc2" th:each="serviceName : ${selectedServicesNames}">
                                <div class="bloc2" th:text="${serviceName}">
                                    name
                                </div>
                            </div>
                        </td>

                        <input name="add visit" id="add visit" class="btn btn-block login-btn mb-4" type="submit"
                               value="Add Visit">
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- ======= Footer ======= -->
<div th:insert="fragments/footer :: footer"></div>


<!-- Vendor JS Files -->
<script src="../../static/assets/vendor/aos/aos.js"
        th:src="@{/assets/vendor/aos/aos.js}"></script>
<script src="../../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/assets/vendor/glightbox/js/glightbox.min.js"
        th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../../static/assets/vendor/purecounter/purecounter.js"
        th:src="@{/assets/vendor/purecounter/purecounter.js}"></script>
<script src="../../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>

<!-- Template Main JS File -->
<script src="../../static/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>


</body>
</html>