<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Admin Panel - Smart Garage</title>
    <link rel="icon" type="image/png" href="../static/assets/img/icons8-car-service-24.png"
          th:href="@{/assets/img/icons8-car-service-24.png}">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet"
          th:href="@{/assets/vendor/aos/aos.css}">

    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"
          th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}">
    <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet"
          th:href="@{/assets/vendor/remixicon/remixicon.css}">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"
          th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700,200}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"
          th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css}">

    <!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/paper-kit.css?v=2.2.0" rel="stylesheet" th:href="@{/css/paper-kit.css?v=2.2.0}"/>

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="index.html" th:href="@{/}">SG<span>.</span></a></h1>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto " href="index.html" th:href="@{/}">Home</a></li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <ul id="mobile-navigation">
            <li><a class="nav-link" href="index.html" th:href="@{/}">Home</a></li>
        </ul>

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Our Service:</h2>
                <ol>
                    <li><a href="index.html" th:href="@{/}">Home</a></li>
                    <li>Admin Panel</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <!-- ======= Services Section ======= -->
            <section id="services" class="services">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Admin Panel</h2>
                        <p>From here you can use all the functionalities of SmartGarage</p>
                    </div>

                    <div class="row">

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                             data-aos-delay="100">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-user"></i></div>
                                <h4><a href="users/users.html" th:href="@{/users}">List of all Users</a></h4>
                                <p>On this link you can find a list of all users and all the information for them </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                             data-aos-delay="200">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-user-plus"></i></div>
                                <h4><a href="users/users-new.html" th:href="@{/users/register}">Create new Customer</a>
                                </h4>
                                <p>Here you can register a new Customer to our service</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                             data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-user-minus"></i></div>
                                <h4><a href="users/users-delete.html" th:href="@{/users/delete}">Delete Customer</a>
                                </h4>
                                <p>Here you will find a list of all customers. Choose the one you want to delete</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                             data-aos-delay="100">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-user-check"></i></div>
                                <h4><a href="users/user-update-list.html" th:href="@{/users/update}">Update Customer</a>
                                </h4>
                                <p>Here you will find a list of all users. Choose the one you want to update</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md" data-aos="zoom-in"
                             data-aos-delay="200">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-gear"></i></div>
                                <h4><a href="vehicle/vehicles.html" th:href="@{/vehicles}">Show All Vehicles</a></h4>
                                <p>Here you can find all our vehicles and all the information for them</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg" data-aos="zoom-in"
                             data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-gear"></i></div>
                                <h4 class="title"><a href="vehicle/vehicle-new.html" th:href="@{/vehicles/new}"> Create
                                    New Vehicle </a></h4>
                                <p>From here you can create a new vehicle, please fill in the data carefully</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                             data-aos-delay="100">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-gear"></i></div>
                                <h4 class="title"><a href="vehicle/vehicle-update.html" th:href="@{/vehicles/update}">
                                    Update a Vehicle </a></h4>
                                <p>From this page you can update all the information about a vehicle</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md" data-aos="zoom-in"
                             data-aos-delay="200">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-gear"></i></div>
                                <h4 class="title"><a href="vehicle/vehicle-delete.html" th:href="@{/vehicles/delete}">
                                    Delete Vehicle </a></h4>
                                <p>Here you can delete a vehicle, please be careful with the data you delete </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg" data-aos="zoom-in"
                             data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-tools"></i></div>
                                <h4><a href="autoService/autoServices.html" th:href="@{/autoServices}">Show All
                                    Auto-Services</a></h4>
                                <p>Here you can find all our services and all the information for them</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                             data-aos-delay="100">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-tools"></i></div>
                                <h4 class="title"><a href="autoService/autoService-new.html"
                                                     th:href="@{/autoServices/new}"> Create New Auto-Service </a></h4>
                                <p>Here you can create new service, you will have to fill in the name and the price in
                                    BGN!</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch mt-4 mt-md" data-aos="zoom-in"
                             data-aos-delay="200">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-tools"></i></div>
                                <h4><a href="autoService/autoService-update.html" th:href="@{/autoServices/update}">Update
                                    an Auto-Services</a></h4>
                                <p>Here you can update an auto-service you want</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch mt-4 mt-lg" data-aos="zoom-in"
                             data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-tools"></i></div>
                                <h4><a href="autoService/autoService-delete.html" th:href="@{/autoServices/delete}">Delete
                                    an Auto-Services</a></h4>
                                <p>Here you see all the auto services and delete them</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                             data-aos-delay="100">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-shield-check"></i></div>
                                <h4><a href="visit/visits.html" th:href="@{/visits}">Show All Visits</a></h4>
                                <p>Here you can find all our visits and all information about them</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch mt-4 mt-md" data-aos="zoom-in"
                             data-aos-delay="200">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-shield-check"></i></div>
                                <h4><a href="visit/visit-new.html" th:href="@{/visits/new}">Create new Visit</a></h4>
                                <p>Here you can find all our visits and all information about them</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch mt-4 mt-lg" data-aos="zoom-in"
                             data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-shield-check"></i></div>
                                <h4><a href="visit/visit-update.html" th:href="@{/visits/update}">Update a Visit</a>
                                </h4>
                                <p>Here you can see a list of all visits and update them</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch mt-4" data-aos="zoom-in"
                             data-aos-delay="100">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-shield-check"></i></div>
                                <h4><a href="visit/visit-delete.html" th:href="@{/visits/delete}">Delete a Visit</a>
                                </h4>
                                <p>Here you can see a list of all visits and delete them</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch mt-4 mt-md" data-aos="zoom-in"
                             data-aos-delay="200">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-user"></i></div>
                                <h4><a href="userDetails/userDetails.html" th:href="@{/user/details}">List of all Users
                                    Details</a></h4>
                                <p>On this link you can find a list of all users and all the information for them </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch mt-4 mt-lg" data-aos="zoom-in"
                             data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-user"></i></div>
                                <h4><a href="userDetails/userDetails-new.html" th:href="@{/user/details/new}">Create new
                                    User Details</a></h4>
                                <p>Here you can create a user Details, be careful </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                             data-aos-delay="100">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-user"></i></div>
                                <h4><a href="userDetails/userDetails-update-list.html"
                                       th:href="@{/user/details/update}">Update User Details</a></h4>
                                <p>On this link you can find a list of all users details and update them</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch mt-4 mt-md" data-aos="zoom-in"
                             data-aos-delay="200">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-user"></i></div>
                                <h4><a href="userDetails/userDetails-delete.html" th:href="@{/user/details/delete}">Delete
                                    User Details</a></h4>
                                <p>On this link you can find a list of all users details and delete them </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg" data-aos="zoom-in"
                             data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-screwdriver"></i></div>
                                <h4><a href="model/model-new.html" th:href="@{/models/new}">Create new model</a></h4>
                                <p>On this link you can find a list of all users details and delete them </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:insert="fragments/footer :: footer"></div>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->

<!-- ======= Footer ======= -->
<div th:insert="fragments/footer :: footer"></div>

<!-- Vendor JS Files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="../static/assets/vendor/aos/aos.js"
        th:src="@{/assets/vendor/aos/aos.js}"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"
        th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets/vendor/purecounter/purecounter.js"
        th:src="@{/assets/vendor/purecounter/purecounter.js}"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

</body>

</html>