<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Forgotten Password - Smart Garage</title>
    <link rel="icon" type="image/png" href="../static/assets/img/icons8-car-service-24.png"
          th:href="@{/assets/img/icons8-car-service-24.png}">

    <meta content="" name="description">
    <meta content="" name="keywords">


    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css"
          th:href="@{https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="../static/assets/img/carEngine.jpg" th:src="@{/assets/img/carEngine.jpg}"
                         class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img th:src="@{/assets/img/logo.png}" src="../static/assets/img/logo.png" width="154"
                                 height="41" alt="logo" class="logo">
                        </div>
                        <p class="login-card-description">Forgotten password</p>


                        <div th:if="${error != null}">
                            <p class="text-danger">[[${error}]]</p>
                        </div>
                        <div th:if="${message != null}">
                            <p class="text-warning">[[${message}]]</p>
                        </div>

                        <form th:action="@{/forgot_password}" method="post">
                            <div class="form-group">
                                <div>
                                    <p>You will receive a link on your email to reset your password</p>
                                </div>
                                <div>
                                    <label for="email" class="sr-only">Email</label>
                                        <input type="email" name="email"  id="email" class="form-control"
                                               placeholder="Enter your e-mail" required autofocus/>
                                    <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit"
                                           value="Reset">
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>

</html>