<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Smart Garage</title>
  <link rel="icon" type="image/png" href="../static/assets/img/icons8-car-service-24.png"
        th:href="@{/assets/img/icons8-car-service-24.png}">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet"
        th:href="@{/assets/vendor/aos/aos.css}" >

  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"
        th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"
        th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"
        th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet"
        th:href="@{/assets/vendor/remixicon/remixicon.css}">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"
        th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet"
        th:href="@{/css/style.css}">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700,200}"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"
        th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css}">
  <!-- CSS Files -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <link href="../static/css/paper-kit.css?v=2.2.0" rel="stylesheet" th:href="@{/css/paper-kit.css?v=2.2.0}"/>

</head>

<body>

<!--   <======= Header =======>-->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Sg<span>.</span></a></h1>

      <!--// th:unless="${isAuthenticated}"-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#top">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a th:unless="${isAuthenticated}"  class="nav-link scrollto" href="how-to-register.html" th:href="@{auth/register}">How to Register</a></li>
          <li th:if="${currentUser != null && currentUser.isEmployee()}"><a href="admin-panel.html"  th:href="@{admin}">Admin Panel</a></li>
          <li th:if="${currentUser != null && currentUser.isCustomer()}"><a href="users/profilePage.html"  th:href="@{/profile}">Profile</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->

      <ul id="mobile-navigation">
        <li><a class="nav-link scrollto active" href="#top">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#team">Team</a></li>
        <li><a th:unless="${isAuthenticated}"  class="nav-link scrollto" href="how-to-register.html" th:href="@{auth/register}">How to Register</a></li>
        <li th:if="${currentUser != null && currentUser.isEmployee()}"><a href="admin-panel.html" class="nav-link" th:href="@{admin}">Admin Panel</a></li>
        <li th:if="${currentUser != null && currentUser.isCustomer()}"><a href="users/profilePage.html" class="nav-link" th:href="@{/profile}">Profile</a></li>
      </ul>
      
      <a th:unless="${isAuthenticated}" href="login.html" class="get-started-btn scrollto" th:href="@{/auth/login}">Login</a>
      <a th:if="${currentUser != null}" href="login.html" class="get-started-btn scrollto" th:href="@{/auth/logout}">Log out</a>


    </div>
  </header>
   <!-- End Header -->

  <div class="page-header section-dark" id="top" style="background-image: url('../static/assets/img/samuele-errico-piccarini-FMbWFDiVRPs-unsplash.jpg')"
       th:style="'background-image: url(/assets/img/samuele-errico-piccarini-FMbWFDiVRPs-unsplash.jpg)'">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <h2 class="presentation-subtitle text-center">You have a problem we have a solution </h2>
        <div class="title-brand">
          <h1 class="presentation-title">SmartGarage</h1>
          <div class="fog-low">
            <img src="../static/assets/img/fog-low.png" th:src="@{/assets/img/fog-low.png}" alt="">
          </div>
          <div class="fog-low right">
            <img src="../static/assets/img/fog-low.png" th:src="@{/assets/img/fog-low.png}" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('../static/assets/img/clouds.png'); "
         th:style="'background: url(/assets/img/clouds.png)'"></div>
  </div>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../static/assets/img/about.jpg" th:src="@{/assets/img/about.jpg}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Your professional car service .</h3><br>
            <p class="fst-italic">
              We strive to provide the best quality services through conveniently located workshops, at affordable prices – making our brands the consumers’
              first choice for motor service, repair and support. This will be executed by the quality trained staff who are motivated to remain loyal and happy.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> We offer only the highest quality products, at affordable prices. </li>
              <li><i class="ri-check-double-line"></i> Your car will be taken care of only by the best mechanics.</li>
              <li><i class="ri-check-double-line"></i> We offer a guarantee on all services and parts up to 6 months or 10 000km..</li>
            </ul>
            <p><b>Smart Garage is the right place for your car!</b></p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper-container">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-1.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-1.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-2.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-2.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-3.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-3.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-4.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-4.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-5.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-5.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-6.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-6.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-7.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-7.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-8.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-8.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-9.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-9.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-10.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-10.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-11.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-11.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-12.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-12.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-13.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-13.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-14.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-14.png}"></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/client-15.png" class="img-fluid" alt=""
                                           th:src="@{/assets/img/clients/client-15.png}"></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Counts Section======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>A little more about us at SmartGarage...</h3>
              <p>
                  We are an auto repair shop and offer many different services,
                but our most important resource is you- our customer. Our technicians are highly
                qualified and we offer only the most quality products at reasonable prices. Here
                you can see some numbers..
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <h3 th:text="${countUsers}"> 1 </h3>
                    <p><strong>Happy Users</strong> the most important resource we have.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <h3 th:text="${countVehicles}"> 1 </h3>
                    <p><strong>Vehicles</strong> That are registered in our system</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>

                    <h3 th:text="${countServices}"> 1 </h3>

                    <p><strong>Services</strong> we offer to our customers and guarantee top quality </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <h3 th:text="${countVisits}"> 1 </h3>
                    <p><strong>Repairs</strong> performed by our mechanics in our service</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../static/assets/img/testimonials/testimonials-1.jpg"
                     th:src="@{/assets/img/testimonials/testimonials-1.jpg}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Regular Client</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Employees are friendly and helpful. Service was fast and done amazingly.
                  Will recommend this place to everyone who has problems with their vehicles.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../static/assets/img/testimonials/testimonials-2.jpg"
                     th:src="@{/assets/img/testimonials/testimonials-2.jpg}"class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>First-Time Client</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The technicians are amazing in what they do. The service was fast and affordable.
                  Would definitely come again.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../static/assets/img/testimonials/testimonials-3.jpg"
                     th:src="@{/assets/img/testimonials/testimonials-3.jpg}"class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Second time visit</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Best place to go fix your vehicle. Staff is friendly and helpful, they offer
                  guarantee on all the products and services they offer.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../static/assets/img/testimonials/testimonials-4.jpg"
                     th:src="@{/assets/img/testimonials/testimonials-4.jpg}"class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Regular client</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I've been going to this service every time I have a problem with my car,
                  have to change the oil or tires. Amazing staff, affordable prices and I have never
                  had any complains about the services or products.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="../static/assets/img/Alexandra_Koluncheva.jfif" th:src="@{/assets/img/Alexandra_Koluncheva.jfif}"class="img-fluid" alt="">
                <div class="social">
                  <a href="https://gitlab.com/alexandrakoluncheva"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/alexandra-koluncheva-31b569194/"><i class="bi bi-linkedin"></i></a>
                  <a href="https://drive.google.com/drive/folders/1OgmNhdg6nbzHsamigb8fsdRtjpvdozgB?usp=sharing"><i class="bi bi-link"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Alexandra Koluncheva</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="../static/assets/img/107522829_3163735967037354_1564470410491920690_n.jpg" th:src="@{/assets/img/107522829_3163735967037354_1564470410491920690_n.jpg}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-github"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Irina Stoeva</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->


  </main><!-- End #main -->
  <div th:insert="fragments/footer :: footer"></div>


  <!-- Vendor JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="../static/assets/vendor/aos/aos.js"
          th:src="@{/assets/vendor/aos/aos.js}"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
          th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"
          th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
          th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script src="../static/assets/vendor/purecounter/purecounter.js"
          th:src="@{/assets/vendor/purecounter/purecounter.js}"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"
          th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

</body>

</html>