<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../../static/assets/img/icons8-car-service-24.png"
          th:href="@{/assets/img/icons8-car-service-24.png}">
    <title>AutoService - SmartGarage</title>

</head>
<body>
<ul>
    <li><h3><a href="#" th:href="@{/autoServices}" th:text="#{navigation.all-autoServices}">Browse all auto-services</a>
    </h3></li>
</ul>

<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/templates/autoService/autoServices.html}" th:text="#{navigation.all-autoServices}">Browse
        all auto-services</a></h3></li>
</ul>

<h2 th:text="${autoService.getServiceId()}">Auto-Service ID</h2>
<h2 th:text="${autoService.getName()}">Auto-Service Name</h2>
<h3 th:text="${autoService.getPrice()}">Auto-Service Price</h3>

</body>
</html>